AI-Document-Intake-Classification-Routing-System/AI_Document_Automation_workflow.json
{
  "name": "AI Document Automation (v2 - much better)",
  "nodes": [
    {
      "parameters": {
        "content": "## 1. INGEST\nWatches the Inbox folder, downloads the new file, and computes a SHA-256 hash + metadata used for logging and audit.",
        "height": 300,
        "width": 380
      },
      "id": "n1-5l61u2",
      "position": [
        -1200,
        -416
      ],
      "name": "Sticky - Ingestion",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. AI EXTRACTION + CLASSIFICATION\nOne multimodal model call replaces \"OCR engine -> separate classifier\". The model reads the file directly and returns strict, schema-validated JSON: department, confidence, summary, structured entities, sensitivity flag, priority. No free-text guessing - output is contractually shaped.",
        "height": 300,
        "width": 420
      },
      "id": "n2-7qtaas",
      "position": [
        -768,
        -416
      ],
      "name": "Sticky - AI",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. CONFIDENCE / SENSITIVITY GATE\nIf the AI call failed to parse, confidence < 75%, the doc is flagged sensitive, or it landed in \"Unclassified\" - it goes to a human review queue instead of auto-sending. Nothing sensitive or low-confidence gets auto-emailed.",
        "height": 300,
        "width": 420
      },
      "id": "n3-ubs58s",
      "position": [
        -304,
        -416
      ],
      "name": "Sticky - Gate",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## REVIEW PATH\nLogged to ReviewQueue, admin is alerted by email, file is moved to \"Needs Review\" - nothing is auto-sent to a department.",
        "height": 260,
        "width": 360
      },
      "id": "n4-xind7d",
      "position": [
        -736,
        352
      ],
      "name": "Sticky - Review Path",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AUTO-SEND PATH\nRecipient + tone come from the DepartmentRouting sheet (edit that sheet to change who gets what - no workflow edits needed). Email is grounded in the extracted facts only. Logged to ProcessedLog, file moved to \"Processed\".",
        "height": 280,
        "width": 420
      },
      "id": "n5-27a24l",
      "position": [
        -1200,
        336
      ],
      "name": "Sticky - Auto Path",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ERROR HANDLING\nDownload, AI analysis, and email-send are wired with error outputs. Any failure logs to ErrorsLog, alerts the admin, and moves the file to \"Errors\" for manual reprocessing - it never just silently disappears.",
        "height": 248,
        "width": 360
      },
      "id": "n6-mqkhrx",
      "position": [
        -320,
        368
      ],
      "name": "Sticky - Errors",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "mode": "id",
          "value": "1HY8OXhCJu8iYlxyWKzAHwUo6jmDGxoW5"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "n7-jtwmrj",
      "position": [
        -1184,
        112
      ],
      "name": "New File in Inbox",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZpGb8mJQX0YOngkH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {}
      },
      "id": "n8-bjq4z6",
      "position": [
        -960,
        112
      ],
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZpGb8mJQX0YOngkH",
          "name": "Google Drive account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function sha256(buffer) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2,\n  ];\n  let H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n\n  const msgLen = buffer.length;\n  const bitLen = msgLen * 8;\n  const padLen = (((msgLen + 8) >> 6) + 1) << 6;\n  const padded = Buffer.alloc(padLen);\n  buffer.copy(padded);\n  padded[msgLen] = 0x80;\n  padded.writeUInt32BE(Math.floor(bitLen / 0x100000000), padLen - 8);\n  padded.writeUInt32BE(bitLen >>> 0, padLen - 4);\n\n  function rotr(x, n) { return (x >>> n) | (x << (32 - n)); }\n\n  for (let chunkStart = 0; chunkStart < padded.length; chunkStart += 64) {\n    const w = new Array(64);\n    for (let i = 0; i < 16; i++) w[i] = padded.readUInt32BE(chunkStart + i * 4);\n    for (let i = 16; i < 64; i++) {\n      const s0 = rotr(w[i-15], 7) ^ rotr(w[i-15], 18) ^ (w[i-15] >>> 3);\n      const s1 = rotr(w[i-2], 17) ^ rotr(w[i-2], 19) ^ (w[i-2] >>> 10);\n      w[i] = (w[i-16] + s0 + w[i-7] + s1) >>> 0;\n    }\n    let a = H[0], b = H[1], c = H[2], d = H[3], e = H[4], f = H[5], g = H[6], h = H[7];\n    for (let i = 0; i < 64; i++) {\n      const S1 = rotr(e,6) ^ rotr(e,11) ^ rotr(e,25);\n      const ch = (e & f) ^ (~e & g);\n      const temp1 = (h + S1 + ch + K[i] + w[i]) >>> 0;\n      const S0 = rotr(a,2) ^ rotr(a,13) ^ rotr(a,22);\n      const maj = (a & b) ^ (a & c) ^ (b & c);\n      const temp2 = (S0 + maj) >>> 0;\n      h = g; g = f; f = e; e = (d + temp1) >>> 0;\n      d = c; c = b; b = a; a = (temp1 + temp2) >>> 0;\n    }\n    H[0]=(H[0]+a)>>>0; H[1]=(H[1]+b)>>>0; H[2]=(H[2]+c)>>>0; H[3]=(H[3]+d)>>>0;\n    H[4]=(H[4]+e)>>>0; H[5]=(H[5]+f)>>>0; H[6]=(H[6]+g)>>>0; H[7]=(H[7]+h)>>>0;\n  }\n  return H.map(x => x.toString(16).padStart(8,'0')).join('');\n}\n\nconst item = items[0];\nconst binary = item.binary.data;\nconst buffer = Buffer.from(binary.data, 'base64');\nconst fileHash = sha256(buffer);\n\nreturn [{\n  json: {\n    fileId: item.json.id,\n    fileName: item.json.name,\n    mimeType: item.json.mimeType,\n    webViewLink: item.json.webViewLink || '',\n    fileHash,\n  },\n  binary: item.binary,\n}];"
      },
      "id": "n9-plhamw",
      "position": [
        -736,
        48
      ],
      "name": "Compute Hash & Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You are a document intake analyst for a company's internal automation system.\n\nYou will be given one uploaded document (as a file). Read it carefully and:\n\n1. Classify it into exactly one department: C-Suite/Executive, Sales, HR, Finance, Legal, Operations, or Unclassified.\n   - Use \"Unclassified\" whenever the document doesn't clearly belong to one department, is illegible, or is ambiguous. Do not force a guess.\n2. Score your own confidence honestly from 0 to 1. A vague or partially unreadable document should score low (under 0.5), not be rounded up.\n3. Extract only facts that are actually present in the document - never invent dates, names, amounts, or reference numbers.\n4. Flag containsSensitiveInfo = true for anything involving: personal identifying information (SSNs, home addresses, ID numbers), salary/compensation figures, medical information, active legal disputes or threats of litigation, or termination/disciplinary matters. These must never be auto-routed without a human reviewing first.\n5. Write a short, factual summary. No marketing language, no filler.\n\nOutput must strictly follow the provided JSON schema. Do not include any text outside the JSON."
            },
            {
              "type": "file",
              "fileType": "base64",
              "fileName": "={{ $json.fileName }}"
            },
            {
              "content": "Analyze this document per your instructions and the JSON schema."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {}
          }
        }
      },
      "id": "n10-mcfajo",
      "position": [
        -512,
        48
      ],
      "name": "Analyze & Classify Document",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "credentials": {
        "openAiApi": {
          "id": "AdvPEzWxtkEQoaFl",
          "name": "OpenAi account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "let parsed;\nlet parseError = false;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parseError = true;\n  parsed = {\n    documentType: 'unknown',\n    department: 'Unclassified',\n    confidence: 0,\n    summary: 'The AI analysis step did not return parseable JSON. Manual review required.',\n    keyEntities: { dates: [], amounts: [], people: [], organizations: [], referenceNumbers: [] },\n    containsSensitiveInfo: true,\n    sensitiveInfoReason: 'parse_error',\n    suggestedPriority: 'high',\n    language: 'unknown',\n  };\n}\nconst meta = $('Compute Hash & Metadata').first().json;\nreturn [{ json: { ...meta, ...parsed, parseError } }];"
      },
      "id": "n11-i4t6k9",
      "position": [
        -160,
        -32
      ],
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "combinator": "or",
          "conditions": [
            {
              "id": "n12-eni6rf",
              "leftValue": "={{ $json.parseError }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "n13-7ns1vz",
              "leftValue": "={{ $json.confidence }}",
              "rightValue": 0.75,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "n14-gukw36",
              "leftValue": "={{ $json.containsSensitiveInfo }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "n15-w8wy9s",
              "leftValue": "={{ $json.department }}",
              "rightValue": "Unclassified",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "n16-52a4l6",
      "position": [
        64,
        -32
      ],
      "name": "Needs Human Review?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KS1IyvlOrfw5eWDl4exMiQ9Qq_MusuFvfGyl103DG14"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "1379752850"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "FileId": "={{ $json.fileId }}",
            "FileName": "={{ $json.fileName }}",
            "Department": "={{ $json.department }}",
            "Confidence": "={{ $json.confidence }}",
            "Reason": "={{ $json.parseError ? \"parse_error\" : ($json.containsSensitiveInfo ? $json.sensitiveInfoReason : ($json.department === \"Unclassified\" ? \"unclassified\" : \"low_confidence\")) }}",
            "Summary": "={{ $json.summary }}",
            "DriveLink": "={{ $json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "n17-tw1qwo",
      "position": [
        288,
        -128
      ],
      "name": "Log to Review Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9oXDPyUo4EoRzN5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orelbutbul13@gmail.com",
        "subject": "=[Review Needed] {{ $json.fileName }}",
        "emailType": "text",
        "message": "=A document needs manual review before it can be routed automatically.\n\nFile: {{ $json.fileName }}\nGuessed department: {{ $json.department }}\nConfidence: {{ $json.confidence }}\nReason flagged: {{ $json.parseError ? \"Could not parse AI output\" : ($json.containsSensitiveInfo ? $json.sensitiveInfoReason : \"Low confidence / unclassified\") }}\n\nSummary: {{ $json.summary }}\n\nFile link: {{ $json.webViewLink }}",
        "options": {}
      },
      "id": "n18-aw5mrv",
      "position": [
        576,
        -128
      ],
      "name": "Notify Admin - Review Needed",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "webhookId": "6c13aa3f-bf9e-491d-9e76-86c1d2005a71",
      "credentials": {
        "gmailOAuth2": {
          "id": "oTrdHZyx6et0vEMB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Compute Hash & Metadata').first().json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1i3FX_cN5UTArAoG3BTJ2ams0ZrBiC5ey"
        }
      },
      "id": "n19-lb13sv",
      "position": [
        864,
        -128
      ],
      "name": "Move to Needs Review Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZpGb8mJQX0YOngkH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KS1IyvlOrfw5eWDl4exMiQ9Qq_MusuFvfGyl103DG14"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "52724729"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Department",
              "lookupValue": "={{ $json.department }}"
            }
          ]
        },
        "options": {}
      },
      "id": "n20-2ed77c",
      "position": [
        288,
        64
      ],
      "name": "Lookup Department Routing",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9oXDPyUo4EoRzN5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5",
          "cachedResultName": "GPT-5"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "You write short internal notification emails for a document-routing system.\n\nYou will be given: the document's department, document type, summary, key extracted entities, suggested priority, and a requested tone for that department.\n\nWrite a concise email body (plain text, 4-8 sentences) that:\n- States what document arrived and what it's about, using only the facts provided - never invent details not given to you.\n- Matches the requested tone for the department.\n- Ends with a one-line note that this was routed automatically and the original file is linked/attached for full context.\n\nDo not include a greeting placeholder like [Name] - just write \"Hi team,\". Do not include a subject line, only the body."
            },
            {
              "content": "=Department: {{ $('Parse AI Output').first().json.department }}\nTone for this department: {{ $json.Tone }}\nDocument type: {{ $('Parse AI Output').first().json.documentType }}\nPriority: {{ $('Parse AI Output').first().json.suggestedPriority }}\nSummary: {{ $('Parse AI Output').first().json.summary }}\nKey entities: {{ JSON.stringify($('Parse AI Output').first().json.keyEntities) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "n21-tzv14o",
      "position": [
        512,
        64
      ],
      "name": "Draft Personalized Email",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "credentials": {
        "openAiApi": {
          "id": "AdvPEzWxtkEQoaFl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Lookup Department Routing').first().json.RecipientEmail }}",
        "subject": "=[{{ $('Parse AI Output').first().json.documentType }}] New document for {{ $('Parse AI Output').first().json.department }}",
        "emailType": "text",
        "message": "={{ $json.output[0].content[0].text }}",
        "options": {}
      },
      "id": "n22-ofh2fn",
      "position": [
        864,
        64
      ],
      "name": "Send Department Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "webhookId": "2d99e3b8-22d4-4ce9-a0d3-09b55bb563f0",
      "credentials": {
        "gmailOAuth2": {
          "id": "oTrdHZyx6et0vEMB",
          "name": "Gmail account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KS1IyvlOrfw5eWDl4exMiQ9Qq_MusuFvfGyl103DG14"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "74158422"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "FileId": "={{ $('Parse AI Output').first().json.fileId }}",
            "FileName": "={{ $('Parse AI Output').first().json.fileName }}",
            "FileHash": "={{ $('Parse AI Output').first().json.fileHash }}",
            "DocumentType": "={{ $('Parse AI Output').first().json.documentType }}",
            "Department": "={{ $('Parse AI Output').first().json.department }}",
            "Confidence": "={{ $('Parse AI Output').first().json.confidence }}",
            "Priority": "={{ $('Parse AI Output').first().json.suggestedPriority }}",
            "Recipient": "={{ $('Lookup Department Routing').first().json.RecipientEmail }}",
            "Status": "sent",
            "DriveLink": "={{ $('Parse AI Output').first().json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "n23-qhtyea",
      "position": [
        1088,
        16
      ],
      "name": "Log to Processed Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9oXDPyUo4EoRzN5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('Parse AI Output').first().json.fileId }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "192ceVsSqzJmlduRZxZMeZG6DbmmlSYwK"
        }
      },
      "id": "n24-u3fon7",
      "position": [
        1312,
        16
      ],
      "name": "Move to Processed Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZpGb8mJQX0YOngkH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1KS1IyvlOrfw5eWDl4exMiQ9Qq_MusuFvfGyl103DG14"
        },
        "sheetName": {
          "__rl": true,
          "mode": "id",
          "value": "1100113304"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "FileId": "={{ $('New File in Inbox').first().json.id }}",
            "FileName": "={{ $('New File in Inbox').first().json.name }}",
            "FailedNode": "={{ $json.error?.node?.name || 'unknown' }}",
            "ErrorMessage": "={{ $json.error?.message || JSON.stringify($json).slice(0,500) }}",
            "DriveLink": "={{ $('New File in Inbox').first().json.webViewLink }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "n25-x6i8jm",
      "position": [
        1088,
        256
      ],
      "name": "Log Error",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P9oXDPyUo4EoRzN5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "orelbutbul13@gmail.com",
        "subject": "=[Automation Error] {{ $('New File in Inbox').first().json.name }}",
        "emailType": "text",
        "message": "=Something failed while processing a document.\n\nFile: {{ $('New File in Inbox').first().json.name }}\nFile link: {{ $('New File in Inbox').first().json.webViewLink }}\n\nThe file has been moved to the Errors folder for manual reprocessing. Check the ErrorsLog sheet for details.",
        "options": {}
      },
      "id": "n26-s2pkkv",
      "position": [
        1312,
        256
      ],
      "name": "Notify Admin - Error",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "webhookId": "ea8980db-e732-40d9-bd2f-6a4c780b1839",
      "credentials": {
        "gmailOAuth2": {
          "id": "oTrdHZyx6et0vEMB",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $('New File in Inbox').first().json.id }}"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1i1uXxxdLdksC-dzAE29l-4Rv6UJSnt2S"
        }
      },
      "id": "n27-unc86a",
      "position": [
        1536,
        256
      ],
      "name": "Move to Errors Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZpGb8mJQX0YOngkH",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "connections": {
    "New File in Inbox": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Compute Hash & Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Hash & Metadata": {
      "main": [
        [
          {
            "node": "Analyze & Classify Document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze & Classify Document": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Needs Human Review?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Human Review?": {
      "main": [
        [
          {
            "node": "Log to Review Queue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lookup Department Routing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Review Queue": {
      "main": [
        [
          {
            "node": "Notify Admin - Review Needed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin - Review Needed": {
      "main": [
        [
          {
            "node": "Move to Needs Review Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Department Routing": {
      "main": [
        [
          {
            "node": "Draft Personalized Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Draft Personalized Email": {
      "main": [
        [
          {
            "node": "Send Department Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Department Email": {
      "main": [
        [
          {
            "node": "Log to Processed Log",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Processed Log": {
      "main": [
        [
          {
            "node": "Move to Processed Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Notify Admin - Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Admin - Error": {
      "main": [
        [
          {
            "node": "Move to Errors Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}