AI-Legal-Document-Translation-Pipeline/workflow.json
{"updatedAt":"2026-06-29T03:22:10.337Z","createdAt":"2026-06-25T12:51:51.777Z","id":"2yY5pCIu3mpj5ho9","name":"AI Legal Document Translation Pipeline","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"id","value":"1BMiW6jR-WFUNs1MQif6V4nuUZLmixjky"},"event":"fileCreated","options":{}},"id":"trigger1","name":"New File in Inbox","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1408,304],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"download1","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1168,304],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"function sha256(buffer) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2,\n  ];\n  let H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n\n  const msgLen = buffer.length;\n  const bitLen = msgLen * 8;\n  const padLen = (((msgLen + 8) >> 6) + 1) << 6;\n  const padded = Buffer.alloc(padLen);\n  buffer.copy(padded);\n  padded[msgLen] = 0x80;\n  padded.writeUInt32BE(Math.floor(bitLen / 0x100000000), padLen - 8);\n  padded.writeUInt32BE(bitLen >>> 0, padLen - 4);\n\n  function rotr(x, n) { return (x >>> n) | (x << (32 - n)); }\n\n  for (let chunkStart = 0; chunkStart < padded.length; chunkStart += 64) {\n    const w = new Array(64);\n    for (let i = 0; i < 16; i++) w[i] = padded.readUInt32BE(chunkStart + i * 4);\n    for (let i = 16; i < 64; i++) {\n      const s0 = rotr(w[i-15], 7) ^ rotr(w[i-15], 18) ^ (w[i-15] >>> 3);\n      const s1 = rotr(w[i-2], 17) ^ rotr(w[i-2], 19) ^ (w[i-2] >>> 10);\n      w[i] = (w[i-16] + s0 + w[i-7] + s1) >>> 0;\n    }\n    let a = H[0], b = H[1], c = H[2], d = H[3], e = H[4], f = H[5], g = H[6], h = H[7];\n    for (let i = 0; i < 64; i++) {\n      const S1 = rotr(e,6) ^ rotr(e,11) ^ rotr(e,25);\n      const ch = (e & f) ^ (~e & g);\n      const temp1 = (h + S1 + ch + K[i] + w[i]) >>> 0;\n      const S0 = rotr(a,2) ^ rotr(a,13) ^ rotr(a,22);\n      const maj = (a & b) ^ (a & c) ^ (b & c);\n      const temp2 = (S0 + maj) >>> 0;\n      h = g; g = f; f = e; e = (d + temp1) >>> 0;\n      d = c; c = b; b = a; a = (temp1 + temp2) >>> 0;\n    }\n    H[0]=(H[0]+a)>>>0; H[1]=(H[1]+b)>>>0; H[2]=(H[2]+c)>>>0; H[3]=(H[3]+d)>>>0;\n    H[4]=(H[4]+e)>>>0; H[5]=(H[5]+f)>>>0; H[6]=(H[6]+g)>>>0; H[7]=(H[7]+h)>>>0;\n  }\n  return H.map(x => x.toString(16).padStart(8,'0')).join('');\n}\n\nconst item = items[0];\nconst binary = item.binary.data;\nconst buffer = Buffer.from(binary.data, 'base64');\nconst fileHash = sha256(buffer);\n\nreturn [{\n  json: {\n    fileId: item.json.id,\n    fileName: item.json.name,\n    mimeType: item.json.mimeType,\n    webViewLink: item.json.webViewLink || '',\n    fileHash,\n  },\n  binary: item.binary,\n}];"},"id":"hash1","name":"Compute Hash & Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,304]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1ZHzjPQbDD0gZV8XW2D_5VjBlOcPqK5QnKPbDHHaDsn4"},"sheetName":{"__rl":true,"mode":"id","value":"1362810412"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.toISO() }}","FileId":"={{ $('New File in Inbox').first().json.id }}","FileName":"={{ $('New File in Inbox').first().json.name }}","Stage":"={{ $json.error?.node?.name || 'unknown' }}","ErrorMessage":"={{ $json.error?.message || JSON.stringify($json).slice(0,500) }}","DriveLink":"={{ $('New File in Inbox').first().json.webViewLink }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"logError1","name":"Log Error","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4128,1488],"credentials":{"googleSheetsOAuth2Api":{"id":"P9oXDPyUo4EoRzN5","name":"Google Sheets account"}}},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=[Legal Translation Pipeline] Error processing {{ $('New File in Inbox').first().json.name }}","emailType":"text","message":"=Something failed while processing a document. File: {{ $('New File in Inbox').first().json.name }}\nFile link: {{ $('New File in Inbox').first().json.webViewLink }} The file has been moved to the Errors folder for manual reprocessing. Check the Error Log tab for details.","options":{}},"id":"notifyError1","name":"Notify Admin - Error","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4368,1488],"webhookId":"daa20f7d-5d23-4dd4-9451-2ab493c079d0","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $('New File in Inbox').first().json.id }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1Jel_ZJwajH84lqUb4lCc66gr9ZOsxvZf"}},"id":"moveError1","name":"Move to Errors Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4608,1488],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"GPT-5"},"responses":{"values":[{"role":"system","content":"You are a document extraction specialist for a certified legal translation pipeline. You process scanned legal documents (court orders, certificates, transcripts, affidavits) in ANY source language - never assume a specific language pair.\n\nYou will be given one uploaded document (as a file). Read it carefully and extract its content with these strict rules:\n\n1. PRESERVE READING ORDER. Extract text top-to-bottom, left-to-right (or right-to-left if the script requires it), exactly as a human reader would encounter it. Do not reorder, summarize, paraphrase, or omit any text.\n2. DETECT PAGE BOUNDARIES. If the file contains multiple pages, return one entry per page in the \"pages\" array, in order.\n3. FLAG NON-TEXT ELEMENTS. Anything that is not plain typed/handwritten body text - official seals, raised stamps, ink stamps, signatures, handwritten annotations or margin notes, illegible marks - must NOT be silently dropped. Add an entry to that page's \"flaggedElements\" array describing what it is and roughly where it appears. Still transcribe any text inside a stamp/seal if it is legible.\n4. DETECT SOURCE LANGUAGE. Identify the primary language of the document and return its ISO 639-1 code (e.g. \"en\", \"tr\", \"es\", \"ru\", \"zh\"). If a document mixes languages (e.g. a stamp in a different language than the body), note that in extractionNotes but still report the dominant body-text language as detectedLanguage.\n5. CLASSIFY DOCUMENT TYPE using a short snake_case label that best fits content you can see (e.g. \"divorce_decree\", \"birth_certificate\", \"marriage_certificate\", \"academic_transcript\", \"name_change_order\", \"affidavit\", \"other\"). Never invent facts not present in the document.\n6. If any text is illegible or ambiguous, say so explicitly in extractionNotes rather than guessing silently.\n\nOutput must strictly follow this JSON shape and contain nothing else:\n{\n  \"detectedLanguage\": \"<ISO 639-1 code>\",\n  \"documentType\": \"<snake_case label>\",\n  \"pageCount\": <integer>,\n  \"pages\": [\n    {\n      \"pageNumber\": <integer>,\n      \"text\": \"<full extracted text of this page, reading order preserved>\",\n      \"flaggedElements\": [\n        { \"type\": \"seal\" | \"stamp\" | \"signature\" | \"handwritten_annotation\" | \"illegible\" | \"other\", \"description\": \"<what it is / says>\", \"locationHint\": \"<e.g. top-right, bottom margin>\" }\n      ]\n    }\n  ],\n  \"extractionNotes\": \"<any caveats, mixed-language notes, illegible sections; empty string if none>\"\n}"},{"type":"file","fileType":"base64","fileName":"={{ $json.fileName }}"},{"content":"Extract this document per your instructions and return only the JSON shape described."}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{}}}},"id":"ocrExtract1","name":"Extract Document Text (OCR)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-208,304],"credentials":{"openAiApi":{"id":"AdvPEzWxtkEQoaFl","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let parsed;\nlet parseError = false;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parseError = true;\n  parsed = {\n    detectedLanguage: 'unknown',\n    documentType: 'unknown',\n    pageCount: 0,\n    pages: [],\n    extractionNotes: 'The OCR/extraction step did not return parseable JSON. Manual review required.',\n  };\n}\nconst meta = $('Compute Hash & Metadata').first().json;\nreturn [{ json: { ...meta, ...parsed, parseError } }];"},"id":"parseOcr1","name":"Parse OCR Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[48,304]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"GPT-5"},"responses":{"values":[{"role":"system","content":"You are a PII (personally identifiable information) detector for a certified legal translation pipeline that must protect privacy before any text leaves this system for translation. You work with documents in ANY language - do not assume English.\n\nYou will be given the extracted text of one document, broken into pages marked with \"=== PAGE N ===\". For each page, find every span of text that is personally identifying, and return it EXACTLY as it appears in the source text (verbatim, same script/spelling/spacing) - do not translate, normalize, or reformat it.\n\nCategories:\n- PERSON: full or partial personal names (not the names of courts, agencies, companies, or officials acting in an official capacity - a judge's or clerk's name on an official signature/certification line is not PII since it is a record of their public office, but petitioner/respondent/witness/applicant/student names ARE PII)\n- ADDRESS: street/city/postal addresses\n- PHONE: phone numbers\n- EMAIL: email addresses\n- DATE_OF_BIRTH: birth dates (not other dates like filing/issue/marriage dates)\n- ID_NUMBER: national ID numbers, passport numbers, SSNs, national identity numbers, student numbers, license/certificate numbers tied to a person\n- CASE_NUMBER: court case numbers or file numbers (these must travel through translation completely unchanged, so flag them too even though they are not strictly private)\n\nDo not flag generic non-birth dates, document titles, or institution/court/university names. When in doubt whether a name belongs to a private party vs. an official acting in their public role, prefer flagging only the private party.\n\nOutput must strictly follow this JSON shape and contain nothing else:\n{\n  \"pages\": [\n    { \"pageNumber\": <integer>, \"piiItems\": [ { \"type\": \"PERSON\" | \"ADDRESS\" | \"PHONE\" | \"EMAIL\" | \"DATE_OF_BIRTH\" | \"ID_NUMBER\" | \"CASE_NUMBER\", \"value\": \"<exact verbatim substring>\" } ] }\n  ]\n}"},{"content":"={{ $json.pages.map(p => '=== PAGE ' + p.pageNumber + ' ===\\n' + p.text).join('\\n\\n') }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{}}}},"id":"detectPii1","name":"Detect PII","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[288,304],"credentials":{"openAiApi":{"id":"AdvPEzWxtkEQoaFl","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let parsed;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { pages: [] };\n}\nconst ocr = $('Parse OCR Output').first().json;\nreturn [{ json: { ocr, piiDetection: parsed } }];"},"id":"parsePii1","name":"Parse PII Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[528,304]},{"parameters":{"jsCode":"const ocr = $json.ocr;\nconst piiParsed = $json.piiDetection;\n\nconst tokenMap = {};\nconst valueToToken = {};\nconst counters = {};\n\nfunction getToken(type, value) {\n  if (valueToToken[value]) return valueToToken[value];\n  counters[type] = (counters[type] || 0) + 1;\n  const token = '[' + type + '_' + counters[type] + ']';\n  tokenMap[token] = value;\n  valueToToken[value] = token;\n  return token;\n}\n\nconst piiByPage = {};\nfor (const p of (piiParsed.pages || [])) {\n  piiByPage[p.pageNumber] = p.piiItems || [];\n}\n\nconst tokenizedPages = (ocr.pages || []).map(page => {\n  let text = page.text;\n  const items = piiByPage[page.pageNumber] || [];\n\n  // Dedupe by exact value first - the LLM may report the same value once per\n  // occurrence in the source text, but a single global replace already\n  // handles every occurrence, so re-processing duplicates would falsely\n  // report them as \"not found\" the second time around.\n  const seen = new Set();\n  const deduped = [];\n  for (const item of items) {\n    if (!item.value || seen.has(item.value)) continue;\n    seen.add(item.value);\n    deduped.push(item);\n  }\n\n  const sorted = deduped.sort((a, b) => (b.value || '').length - (a.value || '').length);\n  const notFound = [];\n  for (const item of sorted) {\n    const token = getToken(item.type || 'OTHER_PII', item.value);\n    if (text.includes(item.value)) {\n      text = text.split(item.value).join(token);\n    } else {\n      notFound.push(item);\n    }\n  }\n  return { pageNumber: page.pageNumber, text, flaggedElements: page.flaggedElements || [], piiNotFound: notFound };\n});\n\nreturn [{\n  json: {\n    fileId: ocr.fileId,\n    fileName: ocr.fileName,\n    mimeType: ocr.mimeType,\n    webViewLink: ocr.webViewLink,\n    fileHash: ocr.fileHash,\n    detectedLanguage: ocr.detectedLanguage,\n    documentType: ocr.documentType,\n    pageCount: ocr.pageCount,\n    extractionNotes: ocr.extractionNotes,\n    tokenizedPages,\n    tokenMap,\n    piiCount: Object.keys(tokenMap).length,\n  },\n}];"},"id":"tokenizePii1","name":"Tokenize PII","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,304]},{"parameters":{"jsCode":"const data = $json;\nconst tokenMap = data.tokenMap || {};\n\nconst finalPages = (data.translatedPages || data.tokenizedPages || []).map(page => {\n  let text = page.translatedText || page.text;\n  for (const [token, value] of Object.entries(tokenMap)) {\n    text = text.split(token).join(value);\n  }\n  return { pageNumber: page.pageNumber, text, flaggedElements: page.flaggedElements || [] };\n});\n\nconst { tokenMap: _drop, tokenizedPages: _drop2, translatedPages: _drop3, ...rest } = data;\nreturn [{ json: { ...rest, finalPages } }];"},"id":"detokenize1","name":"Detokenize PII","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,304]},{"parameters":{"jsCode":"const data = $json;\nconst fileName = data.fileName || '';\n\n// Optional filename convention: \"<name>__to-<lang>.pdf\" lets a specific\n// target language be requested per file without hardcoding a language pair.\nconst match = fileName.match(/__to-([a-zA-Z-]+)\\./);\nlet targetLanguage = match ? match[1].toLowerCase() : null;\n\nif (!targetLanguage) {\n  // Default policy for ABC Ling's primary caseload: EN<->TR. Any other\n  // detected source language defaults to English as the most commonly\n  // requested target for US immigration/court filings.\n  if (data.detectedLanguage === 'en') targetLanguage = 'tr';\n  else if (data.detectedLanguage === 'tr') targetLanguage = 'en';\n  else targetLanguage = 'en';\n}\n\nreturn [{ json: { ...data, targetLanguage } }];"},"id":"targetLang1","name":"Determine Target Language","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,304]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// First run: no terms yet. Empty item keeps pipeline flowing.\n// Build Translation Input filters by r.SourceTerm — empty rows are dropped.\nreturn [{ json: {} }];"},"id":"glossaryLookup1","name":"Glossary Lookup","type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,304],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const meta = $('Determine Target Language').first().json;\nconst rows = $input.all().map(i => i.json).filter(r => r && r.SourceTerm);\nconst glossaryTerms = rows.map(r => ({ source: r.SourceTerm, target: r.TargetTerm, context: r.Context || '' }));\nreturn [{ json: { ...meta, glossaryTerms } }];"},"id":"buildTransInput1","name":"Build Translation Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,304]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"GPT-5"},"responses":{"values":[{"role":"system","content":"You are a certified legal translator working in a privacy-preserving document translation pipeline. You translate complete legal documents between ANY two languages - you will be told the exact source and target language codes for this job, never assume a fixed language pair.\n\nRules:\n1. Produce a COMPLETE, formal legal-register translation. Never summarize, shorten, or omit content. Preserve the structure (numbered clauses, headings, line breaks) of the source.\n2. The source text contains bracketed placeholder tokens such as [PERSON_1], [CASE_NUMBER_1], [ADDRESS_2]. These represent information that was deliberately removed before reaching you for privacy. Copy every token through to your translation completely unchanged, character-for-character, in the exact position it grammatically belongs in the translated sentence. Never translate, reorder the digits of, or alter a token.\n3. If a glossary of required term translations is provided, you MUST use those exact target-language terms whenever the matching source term appears, for consistency across documents.\n4. Track any new legal/institutional/document-specific term you had to translate without glossary guidance (e.g. a court name, a legal procedure name, a document title) and return it so it can be added to the glossary for future jobs. Do not include ordinary common words.\n5. If you had to guess a translation because the source was ambiguous or partially illegible, say so explicitly rather than silently picking one option.\n\nOutput must strictly follow this JSON shape and contain nothing else:\n{\n  \"translatedPages\": [ { \"pageNumber\": <integer>, \"translatedText\": \"<full translation of this page>\" } ],\n  \"newGlossaryTerms\": [ { \"sourceTerm\": \"<term in source language>\", \"targetTerm\": \"<term in target language>\", \"context\": \"<short note on where/how it's used>\" } ],\n  \"flaggedTranslations\": [ \"<short description of any guessed/ambiguous translation>\" ]\n}"},{"content":"={{ 'Source language: ' + $json.detectedLanguage + '\\nTarget language: ' + $json.targetLanguage + '\\n\\nGlossary (required term translations):\\n' + ($json.glossaryTerms.length ? $json.glossaryTerms.map(g => g.source + ' => ' + g.target).join('\\n') : '(none yet)') + '\\n\\nDocument text by page:\\n\\n' + $json.tokenizedPages.map(p => '=== PAGE ' + p.pageNumber + ' ===\\n' + p.text).join('\\n\\n') }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{}}}},"id":"translate1","name":"Translate Document","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1728,304],"credentials":{"openAiApi":{"id":"AdvPEzWxtkEQoaFl","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let parsed;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { translatedPages: [], newGlossaryTerms: [], flaggedTranslations: ['Translation step did not return parseable JSON. Manual review required.'] };\n}\nconst meta = $('Build Translation Input').first().json;\nreturn [{ json: { ...meta, ...parsed } }];"},"id":"parseTranslation1","name":"Parse Translation Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,304]},{"parameters":{"jsCode":"const data = $json;\nconst terms = data.newGlossaryTerms || [];\nif (!terms.length) return [];\nconst now = new Date().toISOString();\nreturn terms.map(t => ({\n  json: {\n    sourceLang: data.detectedLanguage,\n    targetLang: data.targetLanguage,\n    sourceTerm: t.sourceTerm,\n    targetTerm: t.targetTerm,\n    context: t.context || '',\n    addedDate: now,\n  },\n}));"},"id":"prepGlossaryUpdates1","name":"Prepare Glossary Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,992]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1ZHzjPQbDD0gZV8XW2D_5VjBlOcPqK5QnKPbDHHaDsn4"},"sheetName":{"__rl":true,"mode":"id","value":"2083711650"},"columns":{"mappingMode":"defineBelow","value":{"SourceLang":"={{ $json.sourceLang }}","TargetLang":"={{ $json.targetLang }}","SourceTerm":"={{ $json.sourceTerm }}","TargetTerm":"={{ $json.targetTerm }}","Context":"={{ $json.context }}","AddedDate":"={{ $json.addedDate }}","AddedBy":"pipeline"},"matchingColumns":[],"schema":[]},"options":{}},"id":"appendGlossary1","name":"Append New Glossary Terms","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3648,992],"credentials":{"googleSheetsOAuth2Api":{"id":"P9oXDPyUo4EoRzN5","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"resume":"form","formTitle":"={{ \"Translation Review: \" + ($('Detokenize PII').first().json.documentType || \"document\").replace(/_/g,\" \") + \" (\" + ($('Detokenize PII').first().json.detectedLanguage || \"?\") + \" → \" + ($('Detokenize PII').first().json.targetLanguage || \"?\") + \")\" }}","formDescription":"Review the original extracted text and the proposed translation below. Check that PII placeholders (e.g. [PERSON_1]) were correctly restored, the legal register is appropriate, and no content was dropped. Then enter your decision.","formFields":{"values":[{"fieldType":"html","html":"={{ (() => { const ocrPages = $(\"Parse OCR Output\").first().json.pages || []; const pipe = $('Detokenize PII').first().json; const finalPages = pipe.finalPages || []; const flagged = pipe.flaggedTranslations || []; let html = \"<div style='font-family:sans-serif'>\"; ocrPages.forEach((p, i) => { const tp = finalPages[i] || {}; html += \"<details open><summary><strong>Page \" + p.pageNumber + \"</strong></summary><table width='100%' cellpadding='8' border='1' style='border-collapse:collapse'><tr><th>Original (\" + (pipe.detectedLanguage||\"?\") + \")</th><th>Translation (\" + (pipe.targetLanguage||\"?\") + \")</th></tr><tr><td style='vertical-align:top;white-space:pre-wrap;font-size:12px'>\" + (p.text||\"\").substring(0,3000) + \"</td><td style='vertical-align:top;white-space:pre-wrap;font-size:12px'>\" + (tp.text||\"\").substring(0,3000) + \"</td></tr></table></details><br/>\"; }); if (flagged.length) { html += \"<h4 style='color:#c00'>⚠ Flagged by translator</h4><ul>\" + flagged.map(f => \"<li>\" + f + \"</li>\").join(\"\") + \"</ul>\"; } html += \"</div>\"; return html; })() }}<input type=\"hidden\" name=\"__pipeline\" value=\"{{ JSON.stringify($json) }}\">"},{"fieldLabel":"Review Decision","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Approve"},{"option":"Approve with Edits"},{"option":"Reject - Needs Retranslation"}]},"requiredField":true},{"fieldLabel":"Corrected Translation (if Approve with Edits — paste full corrected text)","fieldType":"textarea","placeholder":"Paste the complete corrected translation here. Leave blank if approving as-is."},{"fieldLabel":"Reviewer Notes","fieldType":"textarea","placeholder":"Any notes on this translation, issues found, or reasons for rejection."},{"fieldLabel":"Reviewer Name","placeholder":"Your name (for the audit log)","requiredField":true},{"fieldLabel":"Filing Attorney Email","placeholder":"attorney@lawfirm.com"}]},"options":{}},"id":"humanReview1","name":"Human Review","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2688,304],"webhookId":"caf82803-f389-4065-99c2-a47d13a7c121"},{"parameters":{"jsCode":"const form = $json; // form submission fields\n// Pipeline state is serialized as a hidden field in the form to survive the wait/resume boundary\nlet pipeline = {};\ntry { pipeline = JSON.parse(form.__pipeline || '{}'); } catch(e) {}\nif (!pipeline.fileName) {\n  // Fallback: try accessing the node directly (works if n8n retains context)\n  try { pipeline = $('Detokenize PII').first().json; } catch(e2) {}\n}\n\nconst decision = form['Review Decision'] || 'Approve';\nconst corrected = form['Corrected Translation (if Approve with Edits — paste full corrected text)'] || '';\nconst reviewerNotes = form['Reviewer Notes'] || '';\nconst reviewerName = form['Reviewer Name'] || 'unknown';\nconst reviewedAt = new Date().toISOString();\n\n// If the reviewer provided a corrected translation, replace finalPages text.\n// Their correction is treated as a single block (page breaks restored from original count).\nlet finalPages = pipeline.finalPages || [];\nif (decision === 'Approve with Edits' && corrected.trim()) {\n  finalPages = finalPages.map((page, i) => ({\n    ...page,\n    text: i === 0 ? corrected.trim() : page.text,\n    reviewerCorrected: true,\n  }));\n}\n\nreturn [{\n  json: {\n    ...pipeline,\n    finalPages,\n    reviewDecision: decision,\n    reviewerName,\n    reviewerNotes,\n    reviewedAt,\n    newGlossaryTerms: pipeline.newGlossaryTerms || [],\n  },\n}];"},"id":"applyReview1","name":"Apply Review Decision","type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,304]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"approve-check","leftValue":"={{ $json.reviewDecision }}","rightValue":"Reject - Needs Retranslation","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"reviewRouter1","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3168,304]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1ZHzjPQbDD0gZV8XW2D_5VjBlOcPqK5QnKPbDHHaDsn4"},"sheetName":{"__rl":true,"mode":"id","value":"655432985"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.toISO() }}","FileId":"={{ $json.fileId }}","FileName":"={{ $json.fileName }}","DocumentType":"={{ $json.documentType }}","LanguagePair":"={{ $json.detectedLanguage + \" → \" + $json.targetLanguage }}","ReviewDecision":"={{ $json.reviewDecision }}","ReviewerName":"={{ $json.reviewerName }}","ReviewerNotes":"={{ $json.reviewerNotes }}","ReviewedAt":"={{ $json.reviewedAt }}","Status":"Pending Rework"},"matchingColumns":[],"schema":[]},"options":{}},"id":"logReviewQueue1","name":"Log to Review Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3408,1248],"credentials":{"googleSheetsOAuth2Api":{"id":"P9oXDPyUo4EoRzN5","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"={{ \"[Legal Translation] Translation rejected — needs rework: \" + $json.fileName }}","emailType":"text","message":"={{ \"A translator has rejected the translation and flagged it for rework. File: \" + $json.fileName + \"\nReviewer: \" + $json.reviewerName + \"\nDecision: \" + $json.reviewDecision + \"\nNotes: \" + ($json.reviewerNotes || \"(none)\") + \" The file has been moved to the Needs-Review folder. Correct the translation and re-upload to re-process.\" }}","options":{}},"id":"notifyReview1","name":"Notify - Review Needed","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3648,1248],"webhookId":"349dea89-1a20-4667-ba22-657022daf25b","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $json.fileId }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"10hveLUjO1INWt-9dNzWMEEjz6W4l04h6"}},"id":"moveNeedsReview1","name":"Move to Needs-Review Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3888,1248],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $json;\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\nconst certId = 'CERT-' + now.getFullYear() + '-' + String(now.getMonth()+1).padStart(2,'0') + '-' + (data.fileHash || 'NOCERT').slice(0,8).toUpperCase();\nconst docTitle = 'Certified Translation — ' + (data.documentType||'document').replace(/_/g,' ') + ' — ' + certId;\n\nconst langNames = { en:'English', tr:'Turkish', es:'Spanish', fr:'French', de:'German', ar:'Arabic', zh:'Chinese', ru:'Russian', pt:'Portuguese', it:'Italian' };\nconst srcLang = langNames[data.detectedLanguage] || data.detectedLanguage;\nconst tgtLang = langNames[data.targetLanguage] || data.targetLanguage;\n\n// ── HTML certificate ──\nfunction esc(s) { return String(s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\\n/g,'<br>'); }\n\nconst pagesHtml = (data.finalPages||[]).map(p => {\n  const flagged = (p.flaggedElements||[]).length\n    ? '<div class=\"flagged-note\">⚠ Translator note — page ' + p.pageNumber + ': ' + p.flaggedElements.map(f=>esc(f.type)+' — '+esc(f.description)).join('; ') + '</div>'\n    : '';\n  return '<div class=\"page-block\"><div class=\"page-label\">Page ' + p.pageNumber + '</div><div class=\"page-text\">' + esc(p.text) + '</div>' + flagged + '</div>';\n}).join('');\n\nconst flaggedBlock = (data.flaggedTranslations||[]).length\n  ? '<div class=\"section-title\">Flagged Translations</div><ul>' + data.flaggedTranslations.map(f=>'<li>'+esc(f)+'</li>').join('') + '</ul>'\n  : '';\n\nconst htmlContent = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\">\n<style>\n  body{font-family:Arial,sans-serif;font-size:11pt;color:#000;margin:0;padding:40px;line-height:1.5}\n  .header{text-align:center;border-bottom:3px double #1a3a6e;padding-bottom:18px;margin-bottom:28px}\n  .company-name{font-size:22pt;font-weight:bold;color:#1a3a6e;letter-spacing:2px}\n  .company-sub{font-size:9.5pt;color:#555;margin-top:3px}\n  .cert-title{font-size:15pt;font-weight:bold;color:#1a3a6e;text-align:center;margin:22px 0;letter-spacing:1px;text-transform:uppercase}\n  .meta-table{width:100%;border-collapse:collapse;margin:18px 0}\n  .meta-table td{padding:7px 12px;border:1px solid #ccc;font-size:10pt}\n  .meta-table .label{background:#f0f4fa;font-weight:bold;width:36%;color:#1a3a6e}\n  .section-title{font-size:10.5pt;font-weight:bold;color:#1a3a6e;text-transform:uppercase;letter-spacing:1px;margin:22px 0 8px;border-bottom:1.5px solid #1a3a6e;padding-bottom:3px}\n  .cert-statement{background:#f8fafc;border-left:4px solid #1a3a6e;padding:13px 17px;font-style:italic;margin:12px 0;line-height:1.65}\n  .page-block{margin:12px 0;border-bottom:1px dotted #ddd;padding-bottom:10px}\n  .page-label{font-weight:bold;color:#444;font-size:9.5pt;margin-bottom:4px}\n  .page-text{line-height:1.7}\n  .flagged-note{background:#fff8e1;border-left:4px solid #f59e0b;padding:8px 13px;margin:8px 0;font-size:9.5pt}\n  .reviewer-notes{background:#f8fafc;padding:12px 15px;border:1px solid #ddd;font-size:10pt}\n  .sig-block{display:flex;justify-content:space-between;margin-top:44px}\n  .sig-line{border-top:1px solid #000;width:220px;text-align:center;padding-top:5px;font-size:9pt;color:#444}\n  .footer{margin-top:36px;text-align:center;font-size:8.5pt;color:#888;border-top:1px solid #ddd;padding-top:10px}\n</style>\n</head><body>\n<div class=\"header\">\n  <div class=\"company-name\">ABC LING</div>\n  <div class=\"company-sub\">Professional Legal Translation &amp; Certification Services</div>\n</div>\n\n<div class=\"cert-title\">Certificate of Translation</div>\n\n<table class=\"meta-table\">\n  <tr><td class=\"label\">Certificate ID</td><td>${certId}</td></tr>\n  <tr><td class=\"label\">Translation Date</td><td>${dateStr}</td></tr>\n  <tr><td class=\"label\">Document Type</td><td>${esc((data.documentType||'').replace(/_/g,' '))}</td></tr>\n  <tr><td class=\"label\">Source Language</td><td>${srcLang}</td></tr>\n  <tr><td class=\"label\">Target Language</td><td>${tgtLang}</td></tr>\n  <tr><td class=\"label\">Page Count</td><td>${data.pageCount||data.finalPages?.length||'?'}</td></tr>\n  <tr><td class=\"label\">Document Hash</td><td style=\"font-family:monospace;font-size:9pt\">${data.fileHash}</td></tr>\n  <tr><td class=\"label\">Reviewed By</td><td>${esc(data.reviewerName||'N/A')}</td></tr>\n  <tr><td class=\"label\">Review Decision</td><td>${esc(data.reviewDecision||'Approved')}</td></tr>\n</table>\n\n<div class=\"section-title\">Certification Statement</div>\n<div class=\"cert-statement\">\n  I certify that the translation below is a true and accurate translation of the original ${srcLang} document described above, to the best of my knowledge and professional ability. This translation has been reviewed and approved by a qualified translator. Any flagged elements or translator notes are included as part of this certification record.\n</div>\n\n<div class=\"section-title\">Translated Content</div>\n${pagesHtml}\n\n${flaggedBlock}\n\n<div class=\"section-title\">Reviewer Notes</div>\n<div class=\"reviewer-notes\">${esc(data.reviewerNotes && data.reviewerNotes.trim() ? data.reviewerNotes : '(No additional reviewer notes.)')}</div>\n\n<div class=\"sig-block\">\n  <div class=\"sig-line\">Authorized Translator<br>ABC Ling</div>\n  <div class=\"sig-line\">Certified Reviewer<br>${esc(data.reviewerName||'')}</div>\n</div>\n\n<div class=\"footer\">\n  ABC Ling | Professional Legal Translation Services<br>\n  Certificate ${certId} &nbsp;|&nbsp; Generated ${now.toISOString()}\n</div>\n</body></html>`;\n\n// ── Also keep plain text for fallback ──\nconst pagesSections = (data.finalPages||[]).map(p => {\n  const flaggedNotes = (p.flaggedElements||[]).length\n    ? '\\n[TRANSLATOR NOTE: Page ' + p.pageNumber + ' contains: ' + p.flaggedElements.map(f=>f.type+' — '+f.description).join('; ') + ']\\n'\n    : '';\n  return '--- PAGE ' + p.pageNumber + ' ---\\n' + flaggedNotes + p.text;\n}).join('\\n\\n');\n\nconst plainTextContent = [\n  '========================================',\n  '         CERTIFIED TRANSLATION',\n  '========================================',\n  'CERT ID  : ' + certId,\n  'DATE     : ' + dateStr,\n  'SRC LANG : ' + srcLang,\n  'TGT LANG : ' + tgtLang,\n  'REVIEWER : ' + (data.reviewerName||'N/A'),\n  'HASH     : ' + data.fileHash,\n  '----------------------------------------',\n  pagesSections,\n  '========================================',\n].join('\\n');\n\n// ── Multipart body for Drive API (creates Google Doc from HTML) ──\n// Encoded as binary data to avoid n8n rawBody expression encoding issues\nconst boundary = 'abc_ling_b_' + Date.now();\nconst driveMetadata = JSON.stringify({\n  name: docTitle,\n  mimeType: 'application/vnd.google-apps.document',\n  parents: ['1iF-lZof5_55JhgBuQX13ue-izqPFKVB3']\n});\n\nconst multipartStr =\n  '--' + boundary + '\\r\\n' +\n  'Content-Type: application/json; charset=UTF-8\\r\\n' +\n  '\\r\\n' +\n  driveMetadata +\n  '\\r\\n--' + boundary + '\\r\\n' +\n  'Content-Type: text/html; charset=UTF-8\\r\\n' +\n  '\\r\\n' +\n  htmlContent +\n  '\\r\\n--' + boundary + '--';\n\nconst htmlBuffer = Buffer.from(htmlContent, 'utf-8');\nconst multipartBuffer = Buffer.from(multipartStr, 'utf-8');\n\nreturn [{ json: { ...data, docTitle, certId, dateStr, plainTextContent, htmlContent, boundary }, binary: {\n  htmlFile: { data: htmlBuffer.toString('base64'), mimeType: 'text/html', fileName: (docTitle + '.html').replace(/[^a-zA-Z0-9 ._-]/g,'_'), fileSize: htmlBuffer.length },\n  multipartData: { data: multipartBuffer.toString('base64'), mimeType: 'multipart/related; boundary=' + boundary, fileName: 'upload.bin', fileSize: multipartBuffer.length }\n} }];"},"id":"assembleCert1","name":"Assemble Certificate","type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,688]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart&fields=id,name,mimeType","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"binaryData","inputDataFieldName":"multipartData","options":{}},"id":"uploadDoc1","name":"Upload Translation Doc","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3648,688],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}}},{"parameters":{"jsCode":"const uploadResult = $('Upload Translation Doc').first().json;\nconst pipeline = $('Assemble Certificate').first().json;\nconst docId = uploadResult.id || uploadResult.fileId || '';\nreturn [{ json: {\n  ...pipeline,\n  translationDocId: docId,\n  translationDocName: pipeline.docTitle,\n  translationDocUrl: docId ? 'https://drive.google.com/file/d/' + docId + '/view' : '',\n  pdfDownloadUrl: docId ? 'https://drive.google.com/uc?id=' + docId + '&export=download' : '',\n} }];"},"id":"mergeDocResult1","name":"Merge Doc Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[3888,688]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1ZHzjPQbDD0gZV8XW2D_5VjBlOcPqK5QnKPbDHHaDsn4"},"sheetName":{"__rl":true,"mode":"id","value":"1777496713"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.toISO() }}","FileId":"={{ $json.fileId }}","FileName":"={{ $json.fileName }}","DocumentType":"={{ $json.documentType }}","LanguagePair":"={{ $json.detectedLanguage + \" → \" + $json.targetLanguage }}","FileHash":"={{ $json.fileHash }}","CertificateId":"={{ $json.certId }}","ReviewedBy":"={{ $json.reviewerName }}","ReviewDecision":"={{ $json.reviewDecision }}","TranslationDocUrl":"={{ $json.translationDocUrl }}","PiiTokenCount":"={{ $json.piiCount }}","GlossaryTermsAdded":"={{ ($json.newGlossaryTerms||[]).length }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"logProcessed1","name":"Log to Processed Log","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4128,688],"credentials":{"googleSheetsOAuth2Api":{"id":"P9oXDPyUo4EoRzN5","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $('Merge Doc Result').first().json.fileId }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1qopyhcnBe8_cTi53e4qTEMPfcAyLBzo8"}},"id":"moveArchive1","name":"Move Source to Archive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4368,688],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1P8JKaepi7mQIqiGkiJkiVVxjz1ZOV6QV"}},"id":"moveToProcessing1","name":"Move to Processing","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1168,528],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=New Document Received — {{ $json.name || \"Document\" }}","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#1a56db\">Document Received for Translation</h2>\n<p>A new document has been received and the AI translation pipeline is now processing it.</p>\n<table style=\"border-collapse:collapse;width:100%\"> <tr><td style=\"padding:8px;background:#f3f4f6;font-weight:bold;width:140px\">File Name</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.name || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#f3f4f6;font-weight:bold\">Received At</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $now.toLocaleString() }}</td></tr> <tr><td style=\"padding:8px;background:#f3f4f6;font-weight:bold\">Status</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\"> Processing — OCR, PII tokenization &amp; AI translation in progress</td></tr>\n</table>\n<p style=\"margin-top:16px\">You will receive another email when the translation is ready for your review.</p>\n<hr style=\"margin:24px 0;border:none;border-top:1px solid #e5e7eb\">\n<p style=\"font-size:11px;color:#9ca3af\">Sent automatically by the Legal Translation Translation Pipeline</p>\n</div>","options":{}},"id":"sendIntakeNotification1","name":"Send Intake Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-928,528],"webhookId":"2135ccff-e92e-4fd3-9da3-2b85c3199ed6","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"disabled":true},{"parameters":{"mode":"runOnceForAllItems","jsCode":"return $input.all();"},"id":"checkDuplicate1","name":"Check for Duplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,304],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"hashExists","leftValue":"={{ $json.FileHash }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"alreadyProcessed1","name":"Already Processed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-448,304]},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=Duplicate File Skipped — {{ $json.FileName || \"Document\" }}","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#d97706\">Duplicate Document Detected — Skipped</h2>\n<p>A file was uploaded that has already been processed. The pipeline skipped reprocessing to avoid duplicates.</p>\n<table style=\"border-collapse:collapse;width:100%\"> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold;width:160px\">File Name</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.FileName || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold\">Hash Match</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.FileHash || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold\">Originally Processed</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.Timestamp || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold\">Certificate ID</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.CertificateId || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold\">Existing Translation</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.TranslationDocUrl ? '<a href=\"' + $json.TranslationDocUrl + '\">View in Drive</a>' : \"N/A\" }}</td></tr>\n</table>\n<p style=\"margin-top:16px\">If you intended to reprocess this file, please delete the previous entry from the Processed Log and re-upload the file.</p>\n<hr style=\"margin:24px 0;border:none;border-top:1px solid #e5e7eb\">\n<p style=\"font-size:11px;color:#9ca3af\">Sent automatically by the Legal Translation Translation Pipeline</p>\n</div>","options":{}},"id":"notifyAlreadyProcessed1","name":"Notify Already Processed","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-448,32],"webhookId":"d6e49e71-584f-4b16-a1d2-1f443eedfb30","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}}},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=Translation Ready for Review — {{ ($json.documentType||'document').replace(/_/g,' ').toUpperCase() }} ({{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }})","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#7c3aed\">Translation Ready for Human Review</h2>\n<p>The AI translation pipeline has completed processing and requires your review before the certified document is generated.</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:16px\"> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold;width:180px\">Document Type</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.documentType||'unknown').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">Language Pair</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">File Name</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.fileName || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">Pages</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.finalPages||[]).length }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">PII Tokens</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.piiCount || 0 }} item(s) tokenized &amp; restored</td></tr> <tr><td style=\"padding:8px;background:{{ ($json.flaggedTranslations||[]).length > 0 ? '#fef3c7' : '#f5f3ff' }};font-weight:bold\">Flagged Items</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.flaggedTranslations||[]).length > 0 ? ' ' + ($json.flaggedTranslations||[]).length + ' term(s) require attention' : ' None' }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">Glossary Terms Added</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.newGlossaryTerms||[]).length }} new term(s) extracted</td></tr>\n</table>\n{{ ($json.flaggedTranslations||[]).length > 0 ? '<div style=\\\"background:#fef3c7;border-left:4px solid #d97706;padding:12px;margin-bottom:16px\\\"><strong>Flagged Terms Needing Attention:</strong><ul>' + ($json.flaggedTranslations||[]).map(f => '<li>' + f + '</li>').join('') + '</ul></div>' : '' }}\n<div style=\"text-align:center;margin:24px 0\"> <a href=\"{{ $execution.resumeFormUrl }}\" style=\"background:#7c3aed;color:white;padding:14px 32px;text-decoration:none;border-radius:6px;font-size:16px;font-weight:bold;display:inline-block\"> Open Review Form </a>\n</div>\n<p style=\"font-size:13px;color:#6b7280;text-align:center\">The pipeline is paused and waiting for your decision. The certified translation document will only be generated after approval.</p>\n<p style=\"font-size:12px;color:#9ca3af;text-align:center\">If the button doesn't work, copy this URL: {{ $execution.resumeFormUrl }}</p>\n<hr style=\"margin:24px 0;border:none;border-top:1px solid #e5e7eb\">\n<p style=\"font-size:11px;color:#9ca3af\">Sent automatically by the Legal Translation Translation Pipeline</p>\n</div>","options":{}},"id":"sendReviewNotification1","name":"Send Review Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2448,304],"webhookId":"4a6cfe04-a5d4-4164-a9ba-be0bf2bc9767","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=Certified Translation Complete — {{ $json.certId || 'Document' }}","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#059669\">Certified Translation Complete</h2>\n<p>The translation has been reviewed, approved, and the certified document has been saved to Google Drive.</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:16px\"> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold;width:180px\">Certificate ID</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.certId || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Document Type</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.documentType||'unknown').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Language Pair</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Reviewed By</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.reviewerName || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Review Decision</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.reviewDecision || \"Approved\" }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Translation Date</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.dateStr || $now.toISO() }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Glossary Terms</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.newGlossaryTerms||[]).length }} new term(s) added to glossary</td></tr>\n</table>\n<div style=\"text-align:center;margin:24px 0\"> <a href=\"{{ $json.translationDocUrl || '#' }}\" style=\"background:#059669;color:white;padding:14px 32px;text-decoration:none;border-radius:6px;font-size:16px;font-weight:bold;display:inline-block\"> View Certified Translation in Drive </a>\n</div>\n{{ $json.reviewerNotes && $json.reviewerNotes.trim() ? '<div style=\\\"background:#f0fdf4;border-left:4px solid #059669;padding:12px;margin-bottom:16px\\\"><strong>Reviewer Notes:</strong><br>' + $json.reviewerNotes + '</div>' : '' }}\n<p style=\"font-size:13px;color:#6b7280;text-align:center\">The original source file has been moved to the Archive folder. The Processed Log has been updated.</p>\n<hr style=\"margin:24px 0;border:none;border-top:1px solid #e5e7eb\">\n<p style=\"font-size:11px;color:#9ca3af\">Sent automatically by the Legal Translation Translation Pipeline</p>\n</div><div style=\"margin:20px 0;padding:15px;background:#f0f9f0;border-radius:6px;border-left:4px solid #059669\"> <strong> Download PDF:</strong><br> <a href=\"{{ $json.pdfDownloadUrl }}\" style=\"color:#059669;word-break:break-all\">{{ $json.pdfDownloadUrl }}</a>\n</div>","options":{}},"id":"sendCompletionNotification1","name":"Send Completion Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4608,688],"webhookId":"7bcf49a0-1a42-4ac2-99a0-f9e4d1357652","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## AI-Assisted Legal Translation Pipeline\n**7 stages, left to right:** Intake and dedup  →  OCR extraction  →  PII tokenization  →  Glossary-aware translation  →  Detokenization  →  Human review  →  Document assembly and delivery\nThe translation LLM never sees raw PII — names and addresses are replaced with placeholder tokens before any AI call and restored only after translation is complete.","height":110,"width":6600,"color":5},"id":"s_banner","name":"Banner","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,-144]},{"parameters":{"content":"**Stage 1 — Intake and Deduplication**\nDrive trigger fires on new file in Inbox. SHA-256 hash computed for dedup — already-processed files are skipped with a notification. Parallel branch: moves file to Processing folder and emails intake confirmation.","height":75,"width":1110,"color":4},"id":"s_s1","name":"Stage 1 — Intake","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,208]},{"parameters":{"content":"**Stage 2 — OCR and Text Extraction**\nGPT-4o vision extracts text verbatim per page, preserving reading order and flagging stamps, seals, and handwritten annotations. Returns structured JSON.","height":75,"width":400,"color":4},"id":"s_s2","name":"Stage 2 — OCR","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,208]},{"parameters":{"content":"**Stage 3 — PII Tokenization  (Privacy Layer)**\nGPT-4o detects names, addresses, phones, emails, and IDs. Each value is replaced with a stable token (e.g. PERSON_1). Token map lives only in execution memory — never logged. The translation LLM sees tokens only.","height":75,"width":620,"color":2},"id":"s_s3","name":"Stage 3 — PII","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,208]},{"parameters":{"content":"**Stage 4 — Glossary-Aware Translation and Detokenization**\nSource language auto-detected. Established term pairs loaded from Glossary sheet, injected as required translations. GPT-4o translates in formal legal register — no summarization, tokens preserved verbatim, uncertain terms flagged. New terms appended to glossary. PII restored from token map; map then discarded.","height":75,"width":1360,"color":4},"id":"s_s4","name":"Stage 4 — Translation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,208]},{"parameters":{"content":"**Stage 5 — Human Review**\nReviewer receives an email with a form link. Pipeline pauses (Wait node) until the form is submitted: Approve, Approve with Edits (reviewer pastes corrected text), or Reject. Approved proceeds to assembly; rejected goes to the Needs-Review branch.","height":75,"width":880,"color":4},"id":"s_s5","name":"Stage 5 — Review","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2400,208]},{"parameters":{"content":"**Stage 6 — Document Assembly and Delivery:** Certified translation built with cert ID, header, full translated content, and reviewer notes. Uploaded to Drive Approved folder. Logged to Processed Log. Source file archived. Completion email sent.","height":65,"width":1360,"color":4},"id":"s_s6","name":"Stage 6 — Assembly","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,608]},{"parameters":{"content":"**Glossary Compounding:** New legal terms identified during translation are appended to the Glossary sheet. Translation consistency compounds across every document.","height":65,"width":480,"color":4},"id":"s_gloss","name":"Glossary","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,896]},{"parameters":{"content":"**Rejection Branch:** Rejection logged to Review Queue sheet. Team notified by email. Source file moved to Needs-Review folder for manual correction and re-upload to Inbox.","height":65,"width":700,"color":2},"id":"s_reject","name":"Rejection","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,1152]},{"parameters":{"content":"**Error Handling:** All fallible nodes route failures here. Error logged to Error Log sheet. Admin emailed with full details. Source file moved to Errors folder. Nothing fails silently.","height":65,"width":700,"color":2},"id":"s_err","name":"Errors","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4080,1408]},{"parameters":{"sendTo":"={{ $json['Filing Attorney Email'] || 'orelbutbul13@gmail.com' }}","subject":"=Certified Translation Ready — {{ ($('Restore Pipeline').first().json.documentType||'document').replace(/_/g,' ') }} ({{ $('Restore Pipeline').first().json.certId || 'Case Document' }})","message":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;color:#111\">\n<div style=\"background:#f0f4ff;border-left:5px solid #1a3a6e;padding:16px 20px;margin-bottom:20px;border-radius:0 8px 8px 0\"> <h2 style=\"margin:0 0 4px;color:#1a3a6e;font-size:16pt\">Certified Translation Ready for Filing</h2> <p style=\"margin:0;font-size:10pt;color:#555\">This translation has been reviewed and approved by a qualified human reviewer.</p>\n</div>\n<p>Dear Counsel,</p>\n<p>The certified translation below has been reviewed and approved. It is ready for submission to the relevant authority.</p>\n<table style=\"border-collapse:collapse;width:100%;margin:16px 0\"> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold;width:40%\">Certificate ID</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb;font-family:monospace\">{{ $('Restore Pipeline').first().json.certId || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Document Type</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ ($('Restore Pipeline').first().json.documentType || 'document').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Language</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ ($('Restore Pipeline').first().json.detectedLanguage||'?').toUpperCase() }} {{ ($('Restore Pipeline').first().json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Reviewer</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ $('Restore Pipeline').first().json.reviewerName || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Review Decision</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ $('Restore Pipeline').first().json.reviewDecision || \"Approved\" }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Translation Date</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ $('Restore Pipeline').first().json.dateStr || $now.format('MMMM D, YYYY') }}</td></tr>\n</table>\n<div style=\"text-align:center;margin:24px 0\"> <a href=\"{{ $('Restore Pipeline').first().json.translationDocUrl }}\" style=\"background:#1a3a6e;color:#fff;padding:13px 28px;border-radius:6px;text-decoration:none;font-weight:bold;font-size:12pt;display:inline-block\">View Certified Translation </a>\n</div>\n<div style=\"margin:16px 0;padding:14px;background:#f8fafc;border:1px solid #ddd;border-radius:4px\"> <strong> Download PDF:</strong><br> <a href=\"{{ $('Restore Pipeline').first().json.pdfDownloadUrl }}\" style=\"color:#1a3a6e;word-break:break-all\">{{ $('Restore Pipeline').first().json.pdfDownloadUrl }}</a>\n</div>\n<p style=\"font-size:9pt;color:#888;border-top:1px solid #eee;padding-top:12px;margin-top:20px\"> Automated dispatch from the Legal Translation certified translation pipeline. Do not reply to this email.\n</p>\n</div>","options":{}},"id":"send_filing_attorney","name":"Send to Filing Attorney","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[4848,688],"webhookId":"adf2b98f-d079-4ca4-88c8-4cac620dd0ae","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"onError":"continueErrorOutput","disabled":true},{"id":"checkRetryCount1","name":"Check Retry Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[4200,1248],"parameters":{"jsCode":"// Reclaim tokenizedPages/tokenMap dropped by Detokenize PII; bump retry counter\nconst current = $json;\nlet tokenizedPages = current.tokenizedPages;\nlet tokenMap = current.tokenMap;\nlet glossaryTerms = current.glossaryTerms || [];\n\ntry {\n  const tokenized = $('Tokenize PII').first().json;\n  if (!tokenizedPages || !tokenizedPages.length) tokenizedPages = tokenized.tokenizedPages || [];\n  if (!tokenMap || !Object.keys(tokenMap).length) tokenMap = tokenized.tokenMap || {};\n} catch(e) {}\n\ntry {\n  const bti = $('Build Translation Input').first().json;\n  if (!glossaryTerms.length) glossaryTerms = bti.glossaryTerms || [];\n} catch(e) {}\n\nreturn [{\n  json: {\n    ...current,\n    retryCount: (current.retryCount || 0) + 1,\n    tokenizedPages,\n    tokenMap,\n    glossaryTerms,\n  }\n}];"}},{"id":"maxRetries1","name":"Max Retries?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4440,1248],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"retry-limit-check","leftValue":"={{ $json.retryCount }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"retranslate1","name":"Retranslate with Reviewer Notes","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4680,1248],"credentials":{"openAiApi":{"id":"AdvPEzWxtkEQoaFl","name":"OpenAi account"}},"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"GPT-5"},"responses":{"values":[{"role":"system","content":"You are a certified legal translator working in a privacy-preserving document translation pipeline. You translate complete legal documents between ANY two languages - you will be told the exact source and target language codes for this job, never assume a fixed language pair.\n\nRules:\n1. Produce a COMPLETE, formal legal-register translation. Never summarize, shorten, or omit content. Preserve the structure (numbered clauses, headings, line breaks) of the source.\n2. The source text contains bracketed placeholder tokens such as [PERSON_1], [CASE_NUMBER_1], [ADDRESS_2]. These represent information that was deliberately removed before reaching you for privacy. Copy every token through to your translation completely unchanged, character-for-character, in the exact position it grammatically belongs in the translated sentence. Never translate, reorder the digits of, or alter a token.\n3. If a glossary of required term translations is provided, you MUST use those exact target-language terms whenever the matching source term appears, for consistency across documents.\n4. Track any new legal/institutional/document-specific term you had to translate without glossary guidance (e.g. a court name, a legal procedure name, a document title) and return it so it can be added to the glossary for future jobs. Do not include ordinary common words.\n5. If you had to guess a translation because the source was ambiguous or partially illegible, say so explicitly rather than silently picking one option.\n6. A human reviewer has reviewed the previous translation and provided specific correction notes. You MUST address every point raised in the REVIEWER CORRECTION NOTES below before all else.\n\nOutput must strictly follow this JSON shape and contain nothing else:\n{\n  \"translatedPages\": [ { \"pageNumber\": <integer>, \"translatedText\": \"<full translation of this page>\" } ],\n  \"newGlossaryTerms\": [ { \"sourceTerm\": \"<term in source language>\", \"targetTerm\": \"<term in target language>\", \"context\": \"<short note on where/how it's used>\" } ],\n  \"flaggedTranslations\": [ \"<short description of any guessed/ambiguous translation>\" ]\n}"},{"content":"={{ 'Source language: ' + $json.detectedLanguage + '\\nTarget language: ' + $json.targetLanguage + '\\n\\nGlossary (required term translations):\\n' + ($json.glossaryTerms && $json.glossaryTerms.length ? $json.glossaryTerms.map(g => g.source + ' => ' + g.target).join('\\n') : '(none yet)') + '\\n\\nREVIEWER CORRECTION NOTES (address every point in your retranslation):\\n' + ($json.reviewerNotes || 'No specific notes provided. Improve overall accuracy and legal register.') + '\\n\\nDocument text by page:\\n\\n' + ($json.tokenizedPages || []).map(p => '=== PAGE ' + p.pageNumber + ' ===\\n' + p.text).join('\\n\\n') }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{}}}}},{"id":"parseRetranslation1","name":"Parse Retranslation","type":"n8n-nodes-base.code","typeVersion":2,"position":[4920,1248],"parameters":{"jsCode":"let parsed;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { translatedPages: [], newGlossaryTerms: [], flaggedTranslations: ['Retranslation did not return valid JSON. Manual escalation required.'] };\n}\nconst meta = $('Check Retry Count').first().json;\nreturn [{ json: { ...meta, ...parsed } }];"}},{"id":"detokenizeRetry1","name":"Detokenize Retry","type":"n8n-nodes-base.code","typeVersion":2,"position":[5160,1248],"parameters":{"jsCode":"const data = $json;\nconst tokenMap = data.tokenMap || {};\n\nconst finalPages = (data.translatedPages || data.tokenizedPages || []).map(page => {\n  let text = page.translatedText || page.text;\n  for (const [token, value] of Object.entries(tokenMap)) {\n    text = text.split(token).join(value);\n  }\n  return { pageNumber: page.pageNumber, text, flaggedElements: page.flaggedElements || [] };\n});\n\nconst { tokenMap: _drop, tokenizedPages: _drop2, translatedPages: _drop3, ...rest } = data;\nreturn [{ json: { ...rest, finalPages } }];"}},{"id":"sendRetryReview1","name":"Send Retry Review Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[5400,1248],"credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=Retranslation Ready — Retry #{{ $json.retryCount }} — {{ ($json.documentType||'document').replace(/_/g,' ').toUpperCase() }} ({{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }})","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#dc2626\"> Retranslation Ready for Second Review</h2>\n<p>The document was rejected in the first review and has been retranslated with your correction notes applied. This is the final automated retry — if rejected again, it will be escalated to manual handling.</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:16px\"> <tr><td style=\"padding:8px;background:#fef2f2;font-weight:bold;width:180px\">Retry #</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.retryCount }} of 1 allowed</td></tr> <tr><td style=\"padding:8px;background:#fef2f2;font-weight:bold\">Document Type</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.documentType||'unknown').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px;background:#fef2f2;font-weight:bold\">Language Pair</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px;background:#fef2f2;font-weight:bold\">Your Prior Notes</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.reviewerNotes || '(none provided)' }}</td></tr> <tr><td style=\"padding:8px;background:{{ ($json.flaggedTranslations||[]).length > 0 ? '#fef3c7' : '#fef2f2' }};font-weight:bold\">Translator Flags</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.flaggedTranslations||[]).length > 0 ? ' ' + ($json.flaggedTranslations||[]).length + ' item(s) still flagged' : ' No new flags' }}</td></tr>\n</table>\n<div style=\"background:#fef3c7;border-left:4px solid #d97706;padding:12px;margin-bottom:16px\"><strong> Final Retry:</strong> Rejecting again will escalate this document to manual translation.</div>\n<div style=\"text-align:center;margin:24px 0\"> <a href=\"{{ $execution.resumeFormUrl }}\" style=\"background:#dc2626;color:white;padding:14px 32px;text-decoration:none;border-radius:6px;font-size:16px;font-weight:bold;display:inline-block\"> Open Retry Review Form </a>\n</div>\n<p style=\"font-size:13px;color:#6b7280;text-align:center\">The pipeline is paused awaiting your decision.</p>\n</div>"}},{"id":"humanReviewRetry1","name":"Human Review (Retry)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5640,1248],"parameters":{"resume":"form","formTitle":"={{ \"Retranslation Review (Retry #\" + ($json.retryCount || 1) + \"): \" + ($('Detokenize PII').first().json.documentType || \"document\").replace(/_/g,\" \") + \" (\" + ($('Detokenize PII').first().json.detectedLanguage || \"?\") + \" → \" + ($('Detokenize PII').first().json.targetLanguage || \"?\") + \")\" }}","formDescription":"This retranslation incorporates your previous correction notes. If you reject again, the document will be escalated to manual translation — no further automated retries.","formFields":{"values":[{"fieldType":"html","html":"={{ (() => { const ocrPages = $(\"Parse OCR Output\").first().json.pages || []; const finalPages = $(\"Detokenize Retry\").first().json.finalPages || $json.finalPages || []; const flagged = pipe.flaggedTranslations || []; const priorNotes = $(\"Check Retry Count\").first().json.reviewerNotes || ''; let html = \"<div style='font-family:sans-serif'>\"; if (priorNotes) { html += \"<div style='background:#fef3c7;border-left:4px solid #d97706;padding:12px;margin-bottom:16px'><strong>Your previous correction notes (applied to this retranslation):</strong><br/>\" + priorNotes + \"</div>\"; } ocrPages.forEach((p, i) => { const tp = finalPages[i] || {}; html += \"<details open><summary><strong>Page \" + p.pageNumber + \"</strong></summary><table width='100%' cellpadding='8' border='1' style='border-collapse:collapse'><tr><th>Original (\" + (pipe.detectedLanguage||\"?\") + \")</th><th>Retranslation (\" + (pipe.targetLanguage||\"?\") + \")</th></tr><tr><td style='vertical-align:top;white-space:pre-wrap;font-size:12px'>\" + (p.text||\"\").substring(0,3000) + \"</td><td style='vertical-align:top;white-space:pre-wrap;font-size:12px'>\" + (tp.text||\"\").substring(0,3000) + \"</td></tr></table></details><br/>\"; }); if (flagged.length) { html += \"<h4 style='color:#c00'>⚠ Still flagged by translator</h4><ul>\" + flagged.map(f => \"<li>\" + f + \"</li>\").join(\"\") + \"</ul>\"; } html += \"</div>\"; return html; })() }}<input type=\"hidden\" name=\"__pipeline\" value=\"{{ JSON.stringify($json) }}\">"},{"fieldLabel":"Review Decision","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Approve"},{"option":"Approve with Edits"},{"option":"Reject - Needs Retranslation"}]},"requiredField":true},{"fieldLabel":"Corrected Translation (if Approve with Edits — paste full corrected text)","fieldType":"textarea","placeholder":"Paste the complete corrected translation here. Leave blank if approving as-is."},{"fieldLabel":"Reviewer Notes","fieldType":"textarea","placeholder":"Notes on this retranslation. If rejecting, provide details — this will trigger manual escalation."},{"fieldLabel":"Reviewer Name","placeholder":"Your name (for the audit log)","requiredField":true},{"fieldLabel":"Filing Attorney Email","placeholder":"attorney@lawfirm.com"}]},"options":{}}},{"id":"applyRetryDecision1","name":"Apply Retry Decision","type":"n8n-nodes-base.code","typeVersion":2,"position":[5880,1248],"parameters":{"jsCode":"const form = $json;\nlet pipeline = {};\ntry { pipeline = JSON.parse(($json.__pipeline || '{}')); } catch(e) {}\nif (!pipeline.fileName) { try { pipeline = $('Detokenize Retry').first().json; } catch(e2) {} };\n\nconst decision = form['Review Decision'] || 'Approve';\nconst corrected = form['Corrected Translation (if Approve with Edits — paste full corrected text)'] || '';\nconst reviewerNotes = form['Reviewer Notes'] || '';\nconst reviewerName = form['Reviewer Name'] || 'unknown';\nconst reviewedAt = new Date().toISOString();\n\nlet finalPages = pipeline.finalPages || [];\nif (decision === 'Approve with Edits' && corrected.trim()) {\n  finalPages = finalPages.map((page, i) => ({\n    ...page,\n    text: i === 0 ? corrected.trim() : page.text,\n    reviewerCorrected: true,\n  }));\n}\n\nconst attEmail = form['Filing Attorney Email'] || pipeline.filingAttorneyEmail || '';\n\nreturn [{\n  json: {\n    ...pipeline,\n    finalPages,\n    reviewDecision: decision,\n    reviewerName,\n    reviewerNotes,\n    reviewedAt,\n    retryReview: true,\n    filingAttorneyEmail: attEmail,\n  }\n}];"}},{"id":"retryApproved1","name":"Retry Approved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6120,1248],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"retry-approve-check","leftValue":"={{ $json.reviewDecision }}","rightValue":"Reject - Needs Retranslation","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}}},{"id":"escalateManual1","name":"Escalate - Manual Required","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[6360,1248],"credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=ESCALATION: Manual Translation Required — {{ ($json.documentType||'document').replace(/_/g,' ').toUpperCase() }}","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#991b1b\"> Document Escalated — Manual Translation Required</h2>\n<p>This document has exhausted all automated retry attempts and requires manual certified translation.</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:16px\"> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold;width:180px\">File</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.fileName || 'Unknown' }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Document Type</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.documentType||'unknown').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Language Pair</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Retries Used</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.retryCount || 1 }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Reviewer Notes</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.reviewerNotes || '(none)' }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Location</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">Needs-Review folder in Google Drive</td></tr>\n</table>\n<p><strong>Action Required:</strong> Retrieve the document from the Needs-Review Google Drive folder and arrange manual certified translation. Log completion in the Review Queue sheet.</p>\n</div>"}},{"id":"mark-delivered","name":"Mark as Delivered","type":"n8n-nodes-base.code","typeVersion":2,"position":[5088,688],"parameters":{"jsCode":"// Mark pipeline as delivered — pipeline data comes from Send to Filing Attorney → $json is Gmail response\n// Restore pipeline from Merge Doc Result\nconst pipeline = $('Merge Doc Result').first().json;\nreturn [{ json: { ...pipeline, deliveryStatus: 'DELIVERED', markedAt: new Date().toISOString() } }];","mode":"runOnceForAllItems"}},{"id":"restorePipeline1","name":"Restore Pipeline","type":"n8n-nodes-base.code","typeVersion":2,"position":[4490,688],"parameters":{"jsCode":"// Move Source to Archive outputs Drive metadata, not pipeline data.\n// Restore full pipeline from Merge Doc Result for downstream email nodes.\nconst pipeline = $('Merge Doc Result').first().json;\nreturn [{ json: pipeline }];","mode":"runOnceForAllItems"}},{"id":"convertGoogleDoc1","name":"Initiate Doc Upload","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3860,688],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files?uploadType=resumable","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Upload-Content-Type","value":"text/html"}]},"sendBody":true,"contentType":"raw","rawBody":"={{ JSON.stringify({ name: $('Assemble Certificate').first().json.docTitle, mimeType: 'application/vnd.google-apps.document', parents: ['1iF-lZof5_55JhgBuQX13ue-izqPFKVB3'] }) }}","options":{"response":{"response":{"responseFormat":"json","fullResponse":true}}}}},{"id":"uploadDocContent1","name":"Upload Doc Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3960,688],"parameters":{"method":"PUT","url":"={{ $json.headers?.location || $json.headers?.Location }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/html"}]},"sendBody":true,"contentType":"raw","rawBody":"={{ $('Assemble Certificate').first().json.htmlContent }}","options":{"response":{"response":{"responseFormat":"json"}}}}}],"connections":{"New File in Inbox":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Compute Hash & Metadata","type":"main","index":0},{"node":"Move to Processing","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Log Error":{"main":[[{"node":"Notify Admin - Error","type":"main","index":0}]]},"Notify Admin - Error":{"main":[[{"node":"Move to Errors Folder","type":"main","index":0}]]},"Compute Hash & Metadata":{"main":[[{"node":"Check for Duplicate","type":"main","index":0}]]},"Extract Document Text (OCR)":{"main":[[{"node":"Parse OCR Output","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Parse OCR Output":{"main":[[{"node":"Detect PII","type":"main","index":0}]]},"Detect PII":{"main":[[{"node":"Parse PII Output","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Parse PII Output":{"main":[[{"node":"Tokenize PII","type":"main","index":0}]]},"Tokenize PII":{"main":[[{"node":"Determine Target Language","type":"main","index":0}]]},"Determine Target Language":{"main":[[{"node":"Glossary Lookup","type":"main","index":0}]]},"Glossary Lookup":{"main":[[{"node":"Build Translation Input","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Build Translation Input":{"main":[[{"node":"Translate Document","type":"main","index":0}]]},"Translate Document":{"main":[[{"node":"Parse Translation Output","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Parse Translation Output":{"main":[[{"node":"Detokenize PII","type":"main","index":0}]]},"Prepare Glossary Updates":{"main":[[{"node":"Append New Glossary Terms","type":"main","index":0}]]},"Append New Glossary Terms":{"main":[[],[{"node":"Log Error","type":"main","index":0}]]},"Detokenize PII":{"main":[[{"node":"Send Review Notification","type":"main","index":0}]]},"Human Review":{"main":[[{"node":"Apply Review Decision","type":"main","index":0}]]},"Apply Review Decision":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"Prepare Glossary Updates","type":"main","index":0},{"node":"Assemble Certificate","type":"main","index":0}],[{"node":"Log to Review Queue","type":"main","index":0}]]},"Log to Review Queue":{"main":[[{"node":"Notify - Review Needed","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Notify - Review Needed":{"main":[[{"node":"Move to Needs-Review Folder","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Move to Needs-Review Folder":{"main":[[{"node":"Check Retry Count","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Assemble Certificate":{"main":[[{"node":"Upload Translation Doc","type":"main","index":0}]]},"Upload Translation Doc":{"main":[[{"node":"Merge Doc Result","type":"main","index":0}]]},"Merge Doc Result":{"main":[[{"node":"Log to Processed Log","type":"main","index":0}]]},"Log to Processed Log":{"main":[[{"node":"Move Source to Archive","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Move Source to Archive":{"main":[[{"node":"Restore Pipeline","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Move to Processing":{"main":[[{"node":"Send Intake Notification","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Check for Duplicate":{"main":[[{"node":"Already Processed?","type":"main","index":0}]]},"Already Processed?":{"main":[[{"node":"Notify Already Processed","type":"main","index":0}],[{"node":"Extract Document Text (OCR)","type":"main","index":0}]]},"Send Review Notification":{"main":[[{"node":"Human Review","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Send Completion Notification":{"main":[[{"node":"Send to Filing Attorney","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Check Retry Count":{"main":[[{"node":"Max Retries?","type":"main","index":0}]]},"Max Retries?":{"main":[[{"node":"Retranslate with Reviewer Notes","type":"main","index":0}],[{"node":"Escalate - Manual Required","type":"main","index":0}]]},"Retranslate with Reviewer Notes":{"main":[[{"node":"Parse Retranslation","type":"main","index":0}]]},"Parse Retranslation":{"main":[[{"node":"Detokenize Retry","type":"main","index":0}]]},"Detokenize Retry":{"main":[[{"node":"Send Retry Review Notification","type":"main","index":0}]]},"Send Retry Review Notification":{"main":[[{"node":"Human Review (Retry)","type":"main","index":0}]]},"Human Review (Retry)":{"main":[[{"node":"Apply Retry Decision","type":"main","index":0}]]},"Apply Retry Decision":{"main":[[{"node":"Retry Approved?","type":"main","index":0}]]},"Retry Approved?":{"main":[[{"node":"Prepare Glossary Updates","type":"main","index":0},{"node":"Assemble Certificate","type":"main","index":0}],[{"node":"Escalate - Manual Required","type":"main","index":0}]]},"Send to Filing Attorney":{"main":[[{"node":"Mark as Delivered","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Restore Pipeline":{"main":[[{"node":"Send Completion Notification","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":{"node:New File in Inbox":{"lastTimeChecked":"2026-06-29T03:22:10Z"}},"meta":null,"pinData":{},"versionId":"220d907e-6874-4bcc-8f8a-504599072c1d","activeVersionId":"220d907e-6874-4bcc-8f8a-504599072c1d","versionCounter":417,"triggerCount":1,"shared":[{"updatedAt":"2026-06-25T12:51:51.779Z","createdAt":"2026-06-25T12:51:51.779Z","role":"workflow:owner","workflowId":"2yY5pCIu3mpj5ho9","projectId":"X4tX6muQmUAqazWZ","project":{"updatedAt":"2026-06-17T01:14:51.490Z","createdAt":"2026-06-17T01:09:50.375Z","id":"X4tX6muQmUAqazWZ","name":"Orel Butbul <orelbutbul13@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"9923464d-53c4-46b9-bc43-e6f874fb94ac"}}],"tags":[],"activeVersion":{"updatedAt":"2026-06-29T03:21:50.494Z","createdAt":"2026-06-29T03:21:50.494Z","versionId":"220d907e-6874-4bcc-8f8a-504599072c1d","workflowId":"2yY5pCIu3mpj5ho9","nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"mode":"id","value":"1BMiW6jR-WFUNs1MQif6V4nuUZLmixjky"},"event":"fileCreated","options":{}},"id":"trigger1","name":"New File in Inbox","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[-1408,304],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}}},{"parameters":{"operation":"download","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"options":{}},"id":"download1","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1168,304],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"function sha256(buffer) {\n  const K = [\n    0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,\n    0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,\n    0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,\n    0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,\n    0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,\n    0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,\n    0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,\n    0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2,\n  ];\n  let H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n\n  const msgLen = buffer.length;\n  const bitLen = msgLen * 8;\n  const padLen = (((msgLen + 8) >> 6) + 1) << 6;\n  const padded = Buffer.alloc(padLen);\n  buffer.copy(padded);\n  padded[msgLen] = 0x80;\n  padded.writeUInt32BE(Math.floor(bitLen / 0x100000000), padLen - 8);\n  padded.writeUInt32BE(bitLen >>> 0, padLen - 4);\n\n  function rotr(x, n) { return (x >>> n) | (x << (32 - n)); }\n\n  for (let chunkStart = 0; chunkStart < padded.length; chunkStart += 64) {\n    const w = new Array(64);\n    for (let i = 0; i < 16; i++) w[i] = padded.readUInt32BE(chunkStart + i * 4);\n    for (let i = 16; i < 64; i++) {\n      const s0 = rotr(w[i-15], 7) ^ rotr(w[i-15], 18) ^ (w[i-15] >>> 3);\n      const s1 = rotr(w[i-2], 17) ^ rotr(w[i-2], 19) ^ (w[i-2] >>> 10);\n      w[i] = (w[i-16] + s0 + w[i-7] + s1) >>> 0;\n    }\n    let a = H[0], b = H[1], c = H[2], d = H[3], e = H[4], f = H[5], g = H[6], h = H[7];\n    for (let i = 0; i < 64; i++) {\n      const S1 = rotr(e,6) ^ rotr(e,11) ^ rotr(e,25);\n      const ch = (e & f) ^ (~e & g);\n      const temp1 = (h + S1 + ch + K[i] + w[i]) >>> 0;\n      const S0 = rotr(a,2) ^ rotr(a,13) ^ rotr(a,22);\n      const maj = (a & b) ^ (a & c) ^ (b & c);\n      const temp2 = (S0 + maj) >>> 0;\n      h = g; g = f; f = e; e = (d + temp1) >>> 0;\n      d = c; c = b; b = a; a = (temp1 + temp2) >>> 0;\n    }\n    H[0]=(H[0]+a)>>>0; H[1]=(H[1]+b)>>>0; H[2]=(H[2]+c)>>>0; H[3]=(H[3]+d)>>>0;\n    H[4]=(H[4]+e)>>>0; H[5]=(H[5]+f)>>>0; H[6]=(H[6]+g)>>>0; H[7]=(H[7]+h)>>>0;\n  }\n  return H.map(x => x.toString(16).padStart(8,'0')).join('');\n}\n\nconst item = items[0];\nconst binary = item.binary.data;\nconst buffer = Buffer.from(binary.data, 'base64');\nconst fileHash = sha256(buffer);\n\nreturn [{\n  json: {\n    fileId: item.json.id,\n    fileName: item.json.name,\n    mimeType: item.json.mimeType,\n    webViewLink: item.json.webViewLink || '',\n    fileHash,\n  },\n  binary: item.binary,\n}];"},"id":"hash1","name":"Compute Hash & Metadata","type":"n8n-nodes-base.code","typeVersion":2,"position":[-928,304]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1ZHzjPQbDD0gZV8XW2D_5VjBlOcPqK5QnKPbDHHaDsn4"},"sheetName":{"__rl":true,"mode":"id","value":"1362810412"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.toISO() }}","FileId":"={{ $('New File in Inbox').first().json.id }}","FileName":"={{ $('New File in Inbox').first().json.name }}","Stage":"={{ $json.error?.node?.name || 'unknown' }}","ErrorMessage":"={{ $json.error?.message || JSON.stringify($json).slice(0,500) }}","DriveLink":"={{ $('New File in Inbox').first().json.webViewLink }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"logError1","name":"Log Error","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4128,1488],"credentials":{"googleSheetsOAuth2Api":{"id":"P9oXDPyUo4EoRzN5","name":"Google Sheets account"}}},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=[Legal Translation Pipeline] Error processing {{ $('New File in Inbox').first().json.name }}","emailType":"text","message":"=Something failed while processing a document. File: {{ $('New File in Inbox').first().json.name }}\nFile link: {{ $('New File in Inbox').first().json.webViewLink }} The file has been moved to the Errors folder for manual reprocessing. Check the Error Log tab for details.","options":{}},"id":"notifyError1","name":"Notify Admin - Error","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4368,1488],"webhookId":"daa20f7d-5d23-4dd4-9451-2ab493c079d0","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}}},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $('New File in Inbox').first().json.id }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1Jel_ZJwajH84lqUb4lCc66gr9ZOsxvZf"}},"id":"moveError1","name":"Move to Errors Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4608,1488],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"GPT-5"},"responses":{"values":[{"role":"system","content":"You are a document extraction specialist for a certified legal translation pipeline. You process scanned legal documents (court orders, certificates, transcripts, affidavits) in ANY source language - never assume a specific language pair.\n\nYou will be given one uploaded document (as a file). Read it carefully and extract its content with these strict rules:\n\n1. PRESERVE READING ORDER. Extract text top-to-bottom, left-to-right (or right-to-left if the script requires it), exactly as a human reader would encounter it. Do not reorder, summarize, paraphrase, or omit any text.\n2. DETECT PAGE BOUNDARIES. If the file contains multiple pages, return one entry per page in the \"pages\" array, in order.\n3. FLAG NON-TEXT ELEMENTS. Anything that is not plain typed/handwritten body text - official seals, raised stamps, ink stamps, signatures, handwritten annotations or margin notes, illegible marks - must NOT be silently dropped. Add an entry to that page's \"flaggedElements\" array describing what it is and roughly where it appears. Still transcribe any text inside a stamp/seal if it is legible.\n4. DETECT SOURCE LANGUAGE. Identify the primary language of the document and return its ISO 639-1 code (e.g. \"en\", \"tr\", \"es\", \"ru\", \"zh\"). If a document mixes languages (e.g. a stamp in a different language than the body), note that in extractionNotes but still report the dominant body-text language as detectedLanguage.\n5. CLASSIFY DOCUMENT TYPE using a short snake_case label that best fits content you can see (e.g. \"divorce_decree\", \"birth_certificate\", \"marriage_certificate\", \"academic_transcript\", \"name_change_order\", \"affidavit\", \"other\"). Never invent facts not present in the document.\n6. If any text is illegible or ambiguous, say so explicitly in extractionNotes rather than guessing silently.\n\nOutput must strictly follow this JSON shape and contain nothing else:\n{\n  \"detectedLanguage\": \"<ISO 639-1 code>\",\n  \"documentType\": \"<snake_case label>\",\n  \"pageCount\": <integer>,\n  \"pages\": [\n    {\n      \"pageNumber\": <integer>,\n      \"text\": \"<full extracted text of this page, reading order preserved>\",\n      \"flaggedElements\": [\n        { \"type\": \"seal\" | \"stamp\" | \"signature\" | \"handwritten_annotation\" | \"illegible\" | \"other\", \"description\": \"<what it is / says>\", \"locationHint\": \"<e.g. top-right, bottom margin>\" }\n      ]\n    }\n  ],\n  \"extractionNotes\": \"<any caveats, mixed-language notes, illegible sections; empty string if none>\"\n}"},{"type":"file","fileType":"base64","fileName":"={{ $json.fileName }}"},{"content":"Extract this document per your instructions and return only the JSON shape described."}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{}}}},"id":"ocrExtract1","name":"Extract Document Text (OCR)","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[-208,304],"credentials":{"openAiApi":{"id":"AdvPEzWxtkEQoaFl","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let parsed;\nlet parseError = false;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parseError = true;\n  parsed = {\n    detectedLanguage: 'unknown',\n    documentType: 'unknown',\n    pageCount: 0,\n    pages: [],\n    extractionNotes: 'The OCR/extraction step did not return parseable JSON. Manual review required.',\n  };\n}\nconst meta = $('Compute Hash & Metadata').first().json;\nreturn [{ json: { ...meta, ...parsed, parseError } }];"},"id":"parseOcr1","name":"Parse OCR Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[48,304]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"GPT-5"},"responses":{"values":[{"role":"system","content":"You are a PII (personally identifiable information) detector for a certified legal translation pipeline that must protect privacy before any text leaves this system for translation. You work with documents in ANY language - do not assume English.\n\nYou will be given the extracted text of one document, broken into pages marked with \"=== PAGE N ===\". For each page, find every span of text that is personally identifying, and return it EXACTLY as it appears in the source text (verbatim, same script/spelling/spacing) - do not translate, normalize, or reformat it.\n\nCategories:\n- PERSON: full or partial personal names (not the names of courts, agencies, companies, or officials acting in an official capacity - a judge's or clerk's name on an official signature/certification line is not PII since it is a record of their public office, but petitioner/respondent/witness/applicant/student names ARE PII)\n- ADDRESS: street/city/postal addresses\n- PHONE: phone numbers\n- EMAIL: email addresses\n- DATE_OF_BIRTH: birth dates (not other dates like filing/issue/marriage dates)\n- ID_NUMBER: national ID numbers, passport numbers, SSNs, national identity numbers, student numbers, license/certificate numbers tied to a person\n- CASE_NUMBER: court case numbers or file numbers (these must travel through translation completely unchanged, so flag them too even though they are not strictly private)\n\nDo not flag generic non-birth dates, document titles, or institution/court/university names. When in doubt whether a name belongs to a private party vs. an official acting in their public role, prefer flagging only the private party.\n\nOutput must strictly follow this JSON shape and contain nothing else:\n{\n  \"pages\": [\n    { \"pageNumber\": <integer>, \"piiItems\": [ { \"type\": \"PERSON\" | \"ADDRESS\" | \"PHONE\" | \"EMAIL\" | \"DATE_OF_BIRTH\" | \"ID_NUMBER\" | \"CASE_NUMBER\", \"value\": \"<exact verbatim substring>\" } ] }\n  ]\n}"},{"content":"={{ $json.pages.map(p => '=== PAGE ' + p.pageNumber + ' ===\\n' + p.text).join('\\n\\n') }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{}}}},"id":"detectPii1","name":"Detect PII","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[288,304],"credentials":{"openAiApi":{"id":"AdvPEzWxtkEQoaFl","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let parsed;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { pages: [] };\n}\nconst ocr = $('Parse OCR Output').first().json;\nreturn [{ json: { ocr, piiDetection: parsed } }];"},"id":"parsePii1","name":"Parse PII Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[528,304]},{"parameters":{"jsCode":"const ocr = $json.ocr;\nconst piiParsed = $json.piiDetection;\n\nconst tokenMap = {};\nconst valueToToken = {};\nconst counters = {};\n\nfunction getToken(type, value) {\n  if (valueToToken[value]) return valueToToken[value];\n  counters[type] = (counters[type] || 0) + 1;\n  const token = '[' + type + '_' + counters[type] + ']';\n  tokenMap[token] = value;\n  valueToToken[value] = token;\n  return token;\n}\n\nconst piiByPage = {};\nfor (const p of (piiParsed.pages || [])) {\n  piiByPage[p.pageNumber] = p.piiItems || [];\n}\n\nconst tokenizedPages = (ocr.pages || []).map(page => {\n  let text = page.text;\n  const items = piiByPage[page.pageNumber] || [];\n\n  // Dedupe by exact value first - the LLM may report the same value once per\n  // occurrence in the source text, but a single global replace already\n  // handles every occurrence, so re-processing duplicates would falsely\n  // report them as \"not found\" the second time around.\n  const seen = new Set();\n  const deduped = [];\n  for (const item of items) {\n    if (!item.value || seen.has(item.value)) continue;\n    seen.add(item.value);\n    deduped.push(item);\n  }\n\n  const sorted = deduped.sort((a, b) => (b.value || '').length - (a.value || '').length);\n  const notFound = [];\n  for (const item of sorted) {\n    const token = getToken(item.type || 'OTHER_PII', item.value);\n    if (text.includes(item.value)) {\n      text = text.split(item.value).join(token);\n    } else {\n      notFound.push(item);\n    }\n  }\n  return { pageNumber: page.pageNumber, text, flaggedElements: page.flaggedElements || [], piiNotFound: notFound };\n});\n\nreturn [{\n  json: {\n    fileId: ocr.fileId,\n    fileName: ocr.fileName,\n    mimeType: ocr.mimeType,\n    webViewLink: ocr.webViewLink,\n    fileHash: ocr.fileHash,\n    detectedLanguage: ocr.detectedLanguage,\n    documentType: ocr.documentType,\n    pageCount: ocr.pageCount,\n    extractionNotes: ocr.extractionNotes,\n    tokenizedPages,\n    tokenMap,\n    piiCount: Object.keys(tokenMap).length,\n  },\n}];"},"id":"tokenizePii1","name":"Tokenize PII","type":"n8n-nodes-base.code","typeVersion":2,"position":[768,304]},{"parameters":{"jsCode":"const data = $json;\nconst tokenMap = data.tokenMap || {};\n\nconst finalPages = (data.translatedPages || data.tokenizedPages || []).map(page => {\n  let text = page.translatedText || page.text;\n  for (const [token, value] of Object.entries(tokenMap)) {\n    text = text.split(token).join(value);\n  }\n  return { pageNumber: page.pageNumber, text, flaggedElements: page.flaggedElements || [] };\n});\n\nconst { tokenMap: _drop, tokenizedPages: _drop2, translatedPages: _drop3, ...rest } = data;\nreturn [{ json: { ...rest, finalPages } }];"},"id":"detokenize1","name":"Detokenize PII","type":"n8n-nodes-base.code","typeVersion":2,"position":[2208,304]},{"parameters":{"jsCode":"const data = $json;\nconst fileName = data.fileName || '';\n\n// Optional filename convention: \"<name>__to-<lang>.pdf\" lets a specific\n// target language be requested per file without hardcoding a language pair.\nconst match = fileName.match(/__to-([a-zA-Z-]+)\\./);\nlet targetLanguage = match ? match[1].toLowerCase() : null;\n\nif (!targetLanguage) {\n  // Default policy for ABC Ling's primary caseload: EN<->TR. Any other\n  // detected source language defaults to English as the most commonly\n  // requested target for US immigration/court filings.\n  if (data.detectedLanguage === 'en') targetLanguage = 'tr';\n  else if (data.detectedLanguage === 'tr') targetLanguage = 'en';\n  else targetLanguage = 'en';\n}\n\nreturn [{ json: { ...data, targetLanguage } }];"},"id":"targetLang1","name":"Determine Target Language","type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,304]},{"parameters":{"mode":"runOnceForAllItems","jsCode":"// First run: no terms yet. Empty item keeps pipeline flowing.\n// Build Translation Input filters by r.SourceTerm — empty rows are dropped.\nreturn [{ json: {} }];"},"id":"glossaryLookup1","name":"Glossary Lookup","type":"n8n-nodes-base.code","typeVersion":2,"position":[1248,304],"alwaysOutputData":true,"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const meta = $('Determine Target Language').first().json;\nconst rows = $input.all().map(i => i.json).filter(r => r && r.SourceTerm);\nconst glossaryTerms = rows.map(r => ({ source: r.SourceTerm, target: r.TargetTerm, context: r.Context || '' }));\nreturn [{ json: { ...meta, glossaryTerms } }];"},"id":"buildTransInput1","name":"Build Translation Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[1488,304]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"GPT-5"},"responses":{"values":[{"role":"system","content":"You are a certified legal translator working in a privacy-preserving document translation pipeline. You translate complete legal documents between ANY two languages - you will be told the exact source and target language codes for this job, never assume a fixed language pair.\n\nRules:\n1. Produce a COMPLETE, formal legal-register translation. Never summarize, shorten, or omit content. Preserve the structure (numbered clauses, headings, line breaks) of the source.\n2. The source text contains bracketed placeholder tokens such as [PERSON_1], [CASE_NUMBER_1], [ADDRESS_2]. These represent information that was deliberately removed before reaching you for privacy. Copy every token through to your translation completely unchanged, character-for-character, in the exact position it grammatically belongs in the translated sentence. Never translate, reorder the digits of, or alter a token.\n3. If a glossary of required term translations is provided, you MUST use those exact target-language terms whenever the matching source term appears, for consistency across documents.\n4. Track any new legal/institutional/document-specific term you had to translate without glossary guidance (e.g. a court name, a legal procedure name, a document title) and return it so it can be added to the glossary for future jobs. Do not include ordinary common words.\n5. If you had to guess a translation because the source was ambiguous or partially illegible, say so explicitly rather than silently picking one option.\n\nOutput must strictly follow this JSON shape and contain nothing else:\n{\n  \"translatedPages\": [ { \"pageNumber\": <integer>, \"translatedText\": \"<full translation of this page>\" } ],\n  \"newGlossaryTerms\": [ { \"sourceTerm\": \"<term in source language>\", \"targetTerm\": \"<term in target language>\", \"context\": \"<short note on where/how it's used>\" } ],\n  \"flaggedTranslations\": [ \"<short description of any guessed/ambiguous translation>\" ]\n}"},{"content":"={{ 'Source language: ' + $json.detectedLanguage + '\\nTarget language: ' + $json.targetLanguage + '\\n\\nGlossary (required term translations):\\n' + ($json.glossaryTerms.length ? $json.glossaryTerms.map(g => g.source + ' => ' + g.target).join('\\n') : '(none yet)') + '\\n\\nDocument text by page:\\n\\n' + $json.tokenizedPages.map(p => '=== PAGE ' + p.pageNumber + ' ===\\n' + p.text).join('\\n\\n') }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{}}}},"id":"translate1","name":"Translate Document","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[1728,304],"credentials":{"openAiApi":{"id":"AdvPEzWxtkEQoaFl","name":"OpenAi account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"let parsed;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { translatedPages: [], newGlossaryTerms: [], flaggedTranslations: ['Translation step did not return parseable JSON. Manual review required.'] };\n}\nconst meta = $('Build Translation Input').first().json;\nreturn [{ json: { ...meta, ...parsed } }];"},"id":"parseTranslation1","name":"Parse Translation Output","type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,304]},{"parameters":{"jsCode":"const data = $json;\nconst terms = data.newGlossaryTerms || [];\nif (!terms.length) return [];\nconst now = new Date().toISOString();\nreturn terms.map(t => ({\n  json: {\n    sourceLang: data.detectedLanguage,\n    targetLang: data.targetLanguage,\n    sourceTerm: t.sourceTerm,\n    targetTerm: t.targetTerm,\n    context: t.context || '',\n    addedDate: now,\n  },\n}));"},"id":"prepGlossaryUpdates1","name":"Prepare Glossary Updates","type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,992]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1ZHzjPQbDD0gZV8XW2D_5VjBlOcPqK5QnKPbDHHaDsn4"},"sheetName":{"__rl":true,"mode":"id","value":"2083711650"},"columns":{"mappingMode":"defineBelow","value":{"SourceLang":"={{ $json.sourceLang }}","TargetLang":"={{ $json.targetLang }}","SourceTerm":"={{ $json.sourceTerm }}","TargetTerm":"={{ $json.targetTerm }}","Context":"={{ $json.context }}","AddedDate":"={{ $json.addedDate }}","AddedBy":"pipeline"},"matchingColumns":[],"schema":[]},"options":{}},"id":"appendGlossary1","name":"Append New Glossary Terms","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3648,992],"credentials":{"googleSheetsOAuth2Api":{"id":"P9oXDPyUo4EoRzN5","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"resume":"form","formTitle":"={{ \"Translation Review: \" + ($('Detokenize PII').first().json.documentType || \"document\").replace(/_/g,\" \") + \" (\" + ($('Detokenize PII').first().json.detectedLanguage || \"?\") + \" → \" + ($('Detokenize PII').first().json.targetLanguage || \"?\") + \")\" }}","formDescription":"Review the original extracted text and the proposed translation below. Check that PII placeholders (e.g. [PERSON_1]) were correctly restored, the legal register is appropriate, and no content was dropped. Then enter your decision.","formFields":{"values":[{"fieldType":"html","html":"={{ (() => { const ocrPages = $(\"Parse OCR Output\").first().json.pages || []; const pipe = $('Detokenize PII').first().json; const finalPages = pipe.finalPages || []; const flagged = pipe.flaggedTranslations || []; let html = \"<div style='font-family:sans-serif'>\"; ocrPages.forEach((p, i) => { const tp = finalPages[i] || {}; html += \"<details open><summary><strong>Page \" + p.pageNumber + \"</strong></summary><table width='100%' cellpadding='8' border='1' style='border-collapse:collapse'><tr><th>Original (\" + (pipe.detectedLanguage||\"?\") + \")</th><th>Translation (\" + (pipe.targetLanguage||\"?\") + \")</th></tr><tr><td style='vertical-align:top;white-space:pre-wrap;font-size:12px'>\" + (p.text||\"\").substring(0,3000) + \"</td><td style='vertical-align:top;white-space:pre-wrap;font-size:12px'>\" + (tp.text||\"\").substring(0,3000) + \"</td></tr></table></details><br/>\"; }); if (flagged.length) { html += \"<h4 style='color:#c00'>⚠ Flagged by translator</h4><ul>\" + flagged.map(f => \"<li>\" + f + \"</li>\").join(\"\") + \"</ul>\"; } html += \"</div>\"; return html; })() }}<input type=\"hidden\" name=\"__pipeline\" value=\"{{ JSON.stringify($json) }}\">"},{"fieldLabel":"Review Decision","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Approve"},{"option":"Approve with Edits"},{"option":"Reject - Needs Retranslation"}]},"requiredField":true},{"fieldLabel":"Corrected Translation (if Approve with Edits — paste full corrected text)","fieldType":"textarea","placeholder":"Paste the complete corrected translation here. Leave blank if approving as-is."},{"fieldLabel":"Reviewer Notes","fieldType":"textarea","placeholder":"Any notes on this translation, issues found, or reasons for rejection."},{"fieldLabel":"Reviewer Name","placeholder":"Your name (for the audit log)","requiredField":true},{"fieldLabel":"Filing Attorney Email","placeholder":"attorney@lawfirm.com"}]},"options":{}},"id":"humanReview1","name":"Human Review","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2688,304],"webhookId":"caf82803-f389-4065-99c2-a47d13a7c121"},{"parameters":{"jsCode":"const form = $json; // form submission fields\n// Pipeline state is serialized as a hidden field in the form to survive the wait/resume boundary\nlet pipeline = {};\ntry { pipeline = JSON.parse(form.__pipeline || '{}'); } catch(e) {}\nif (!pipeline.fileName) {\n  // Fallback: try accessing the node directly (works if n8n retains context)\n  try { pipeline = $('Detokenize PII').first().json; } catch(e2) {}\n}\n\nconst decision = form['Review Decision'] || 'Approve';\nconst corrected = form['Corrected Translation (if Approve with Edits — paste full corrected text)'] || '';\nconst reviewerNotes = form['Reviewer Notes'] || '';\nconst reviewerName = form['Reviewer Name'] || 'unknown';\nconst reviewedAt = new Date().toISOString();\n\n// If the reviewer provided a corrected translation, replace finalPages text.\n// Their correction is treated as a single block (page breaks restored from original count).\nlet finalPages = pipeline.finalPages || [];\nif (decision === 'Approve with Edits' && corrected.trim()) {\n  finalPages = finalPages.map((page, i) => ({\n    ...page,\n    text: i === 0 ? corrected.trim() : page.text,\n    reviewerCorrected: true,\n  }));\n}\n\nreturn [{\n  json: {\n    ...pipeline,\n    finalPages,\n    reviewDecision: decision,\n    reviewerName,\n    reviewerNotes,\n    reviewedAt,\n    newGlossaryTerms: pipeline.newGlossaryTerms || [],\n  },\n}];"},"id":"applyReview1","name":"Apply Review Decision","type":"n8n-nodes-base.code","typeVersion":2,"position":[2928,304]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"approve-check","leftValue":"={{ $json.reviewDecision }}","rightValue":"Reject - Needs Retranslation","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"reviewRouter1","name":"Approved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3168,304]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1ZHzjPQbDD0gZV8XW2D_5VjBlOcPqK5QnKPbDHHaDsn4"},"sheetName":{"__rl":true,"mode":"id","value":"655432985"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.toISO() }}","FileId":"={{ $json.fileId }}","FileName":"={{ $json.fileName }}","DocumentType":"={{ $json.documentType }}","LanguagePair":"={{ $json.detectedLanguage + \" → \" + $json.targetLanguage }}","ReviewDecision":"={{ $json.reviewDecision }}","ReviewerName":"={{ $json.reviewerName }}","ReviewerNotes":"={{ $json.reviewerNotes }}","ReviewedAt":"={{ $json.reviewedAt }}","Status":"Pending Rework"},"matchingColumns":[],"schema":[]},"options":{}},"id":"logReviewQueue1","name":"Log to Review Queue","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3408,1248],"credentials":{"googleSheetsOAuth2Api":{"id":"P9oXDPyUo4EoRzN5","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"={{ \"[Legal Translation] Translation rejected — needs rework: \" + $json.fileName }}","emailType":"text","message":"={{ \"A translator has rejected the translation and flagged it for rework. File: \" + $json.fileName + \"\nReviewer: \" + $json.reviewerName + \"\nDecision: \" + $json.reviewDecision + \"\nNotes: \" + ($json.reviewerNotes || \"(none)\") + \" The file has been moved to the Needs-Review folder. Correct the translation and re-upload to re-process.\" }}","options":{}},"id":"notifyReview1","name":"Notify - Review Needed","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3648,1248],"webhookId":"349dea89-1a20-4667-ba22-657022daf25b","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $json.fileId }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"10hveLUjO1INWt-9dNzWMEEjz6W4l04h6"}},"id":"moveNeedsReview1","name":"Move to Needs-Review Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3888,1248],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"jsCode":"const data = $json;\nconst now = new Date();\nconst dateStr = now.toLocaleDateString('en-US', { year: 'numeric', month: 'long', day: 'numeric' });\nconst certId = 'CERT-' + now.getFullYear() + '-' + String(now.getMonth()+1).padStart(2,'0') + '-' + (data.fileHash || 'NOCERT').slice(0,8).toUpperCase();\nconst docTitle = 'Certified Translation — ' + (data.documentType||'document').replace(/_/g,' ') + ' — ' + certId;\n\nconst langNames = { en:'English', tr:'Turkish', es:'Spanish', fr:'French', de:'German', ar:'Arabic', zh:'Chinese', ru:'Russian', pt:'Portuguese', it:'Italian' };\nconst srcLang = langNames[data.detectedLanguage] || data.detectedLanguage;\nconst tgtLang = langNames[data.targetLanguage] || data.targetLanguage;\n\n// ── HTML certificate ──\nfunction esc(s) { return String(s||'').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\\n/g,'<br>'); }\n\nconst pagesHtml = (data.finalPages||[]).map(p => {\n  const flagged = (p.flaggedElements||[]).length\n    ? '<div class=\"flagged-note\">⚠ Translator note — page ' + p.pageNumber + ': ' + p.flaggedElements.map(f=>esc(f.type)+' — '+esc(f.description)).join('; ') + '</div>'\n    : '';\n  return '<div class=\"page-block\"><div class=\"page-label\">Page ' + p.pageNumber + '</div><div class=\"page-text\">' + esc(p.text) + '</div>' + flagged + '</div>';\n}).join('');\n\nconst flaggedBlock = (data.flaggedTranslations||[]).length\n  ? '<div class=\"section-title\">Flagged Translations</div><ul>' + data.flaggedTranslations.map(f=>'<li>'+esc(f)+'</li>').join('') + '</ul>'\n  : '';\n\nconst htmlContent = `<!DOCTYPE html>\n<html><head><meta charset=\"UTF-8\">\n<style>\n  body{font-family:Arial,sans-serif;font-size:11pt;color:#000;margin:0;padding:40px;line-height:1.5}\n  .header{text-align:center;border-bottom:3px double #1a3a6e;padding-bottom:18px;margin-bottom:28px}\n  .company-name{font-size:22pt;font-weight:bold;color:#1a3a6e;letter-spacing:2px}\n  .company-sub{font-size:9.5pt;color:#555;margin-top:3px}\n  .cert-title{font-size:15pt;font-weight:bold;color:#1a3a6e;text-align:center;margin:22px 0;letter-spacing:1px;text-transform:uppercase}\n  .meta-table{width:100%;border-collapse:collapse;margin:18px 0}\n  .meta-table td{padding:7px 12px;border:1px solid #ccc;font-size:10pt}\n  .meta-table .label{background:#f0f4fa;font-weight:bold;width:36%;color:#1a3a6e}\n  .section-title{font-size:10.5pt;font-weight:bold;color:#1a3a6e;text-transform:uppercase;letter-spacing:1px;margin:22px 0 8px;border-bottom:1.5px solid #1a3a6e;padding-bottom:3px}\n  .cert-statement{background:#f8fafc;border-left:4px solid #1a3a6e;padding:13px 17px;font-style:italic;margin:12px 0;line-height:1.65}\n  .page-block{margin:12px 0;border-bottom:1px dotted #ddd;padding-bottom:10px}\n  .page-label{font-weight:bold;color:#444;font-size:9.5pt;margin-bottom:4px}\n  .page-text{line-height:1.7}\n  .flagged-note{background:#fff8e1;border-left:4px solid #f59e0b;padding:8px 13px;margin:8px 0;font-size:9.5pt}\n  .reviewer-notes{background:#f8fafc;padding:12px 15px;border:1px solid #ddd;font-size:10pt}\n  .sig-block{display:flex;justify-content:space-between;margin-top:44px}\n  .sig-line{border-top:1px solid #000;width:220px;text-align:center;padding-top:5px;font-size:9pt;color:#444}\n  .footer{margin-top:36px;text-align:center;font-size:8.5pt;color:#888;border-top:1px solid #ddd;padding-top:10px}\n</style>\n</head><body>\n<div class=\"header\">\n  <div class=\"company-name\">ABC LING</div>\n  <div class=\"company-sub\">Professional Legal Translation &amp; Certification Services</div>\n</div>\n\n<div class=\"cert-title\">Certificate of Translation</div>\n\n<table class=\"meta-table\">\n  <tr><td class=\"label\">Certificate ID</td><td>${certId}</td></tr>\n  <tr><td class=\"label\">Translation Date</td><td>${dateStr}</td></tr>\n  <tr><td class=\"label\">Document Type</td><td>${esc((data.documentType||'').replace(/_/g,' '))}</td></tr>\n  <tr><td class=\"label\">Source Language</td><td>${srcLang}</td></tr>\n  <tr><td class=\"label\">Target Language</td><td>${tgtLang}</td></tr>\n  <tr><td class=\"label\">Page Count</td><td>${data.pageCount||data.finalPages?.length||'?'}</td></tr>\n  <tr><td class=\"label\">Document Hash</td><td style=\"font-family:monospace;font-size:9pt\">${data.fileHash}</td></tr>\n  <tr><td class=\"label\">Reviewed By</td><td>${esc(data.reviewerName||'N/A')}</td></tr>\n  <tr><td class=\"label\">Review Decision</td><td>${esc(data.reviewDecision||'Approved')}</td></tr>\n</table>\n\n<div class=\"section-title\">Certification Statement</div>\n<div class=\"cert-statement\">\n  I certify that the translation below is a true and accurate translation of the original ${srcLang} document described above, to the best of my knowledge and professional ability. This translation has been reviewed and approved by a qualified translator. Any flagged elements or translator notes are included as part of this certification record.\n</div>\n\n<div class=\"section-title\">Translated Content</div>\n${pagesHtml}\n\n${flaggedBlock}\n\n<div class=\"section-title\">Reviewer Notes</div>\n<div class=\"reviewer-notes\">${esc(data.reviewerNotes && data.reviewerNotes.trim() ? data.reviewerNotes : '(No additional reviewer notes.)')}</div>\n\n<div class=\"sig-block\">\n  <div class=\"sig-line\">Authorized Translator<br>ABC Ling</div>\n  <div class=\"sig-line\">Certified Reviewer<br>${esc(data.reviewerName||'')}</div>\n</div>\n\n<div class=\"footer\">\n  ABC Ling | Professional Legal Translation Services<br>\n  Certificate ${certId} &nbsp;|&nbsp; Generated ${now.toISOString()}\n</div>\n</body></html>`;\n\n// ── Also keep plain text for fallback ──\nconst pagesSections = (data.finalPages||[]).map(p => {\n  const flaggedNotes = (p.flaggedElements||[]).length\n    ? '\\n[TRANSLATOR NOTE: Page ' + p.pageNumber + ' contains: ' + p.flaggedElements.map(f=>f.type+' — '+f.description).join('; ') + ']\\n'\n    : '';\n  return '--- PAGE ' + p.pageNumber + ' ---\\n' + flaggedNotes + p.text;\n}).join('\\n\\n');\n\nconst plainTextContent = [\n  '========================================',\n  '         CERTIFIED TRANSLATION',\n  '========================================',\n  'CERT ID  : ' + certId,\n  'DATE     : ' + dateStr,\n  'SRC LANG : ' + srcLang,\n  'TGT LANG : ' + tgtLang,\n  'REVIEWER : ' + (data.reviewerName||'N/A'),\n  'HASH     : ' + data.fileHash,\n  '----------------------------------------',\n  pagesSections,\n  '========================================',\n].join('\\n');\n\n// ── Multipart body for Drive API (creates Google Doc from HTML) ──\n// Encoded as binary data to avoid n8n rawBody expression encoding issues\nconst boundary = 'abc_ling_b_' + Date.now();\nconst driveMetadata = JSON.stringify({\n  name: docTitle,\n  mimeType: 'application/vnd.google-apps.document',\n  parents: ['1iF-lZof5_55JhgBuQX13ue-izqPFKVB3']\n});\n\nconst multipartStr =\n  '--' + boundary + '\\r\\n' +\n  'Content-Type: application/json; charset=UTF-8\\r\\n' +\n  '\\r\\n' +\n  driveMetadata +\n  '\\r\\n--' + boundary + '\\r\\n' +\n  'Content-Type: text/html; charset=UTF-8\\r\\n' +\n  '\\r\\n' +\n  htmlContent +\n  '\\r\\n--' + boundary + '--';\n\nconst htmlBuffer = Buffer.from(htmlContent, 'utf-8');\nconst multipartBuffer = Buffer.from(multipartStr, 'utf-8');\n\nreturn [{ json: { ...data, docTitle, certId, dateStr, plainTextContent, htmlContent, boundary }, binary: {\n  htmlFile: { data: htmlBuffer.toString('base64'), mimeType: 'text/html', fileName: (docTitle + '.html').replace(/[^a-zA-Z0-9 ._-]/g,'_'), fileSize: htmlBuffer.length },\n  multipartData: { data: multipartBuffer.toString('base64'), mimeType: 'multipart/related; boundary=' + boundary, fileName: 'upload.bin', fileSize: multipartBuffer.length }\n} }];"},"id":"assembleCert1","name":"Assemble Certificate","type":"n8n-nodes-base.code","typeVersion":2,"position":[3408,688]},{"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files?uploadType=multipart&fields=id,name,mimeType","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendBody":true,"contentType":"binaryData","inputDataFieldName":"multipartData","options":{}},"id":"uploadDoc1","name":"Upload Translation Doc","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3648,688],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}}},{"parameters":{"jsCode":"const uploadResult = $('Upload Translation Doc').first().json;\nconst pipeline = $('Assemble Certificate').first().json;\nconst docId = uploadResult.id || uploadResult.fileId || '';\nreturn [{ json: {\n  ...pipeline,\n  translationDocId: docId,\n  translationDocName: pipeline.docTitle,\n  translationDocUrl: docId ? 'https://drive.google.com/file/d/' + docId + '/view' : '',\n  pdfDownloadUrl: docId ? 'https://drive.google.com/uc?id=' + docId + '&export=download' : '',\n} }];"},"id":"mergeDocResult1","name":"Merge Doc Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[3888,688]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"id","value":"1ZHzjPQbDD0gZV8XW2D_5VjBlOcPqK5QnKPbDHHaDsn4"},"sheetName":{"__rl":true,"mode":"id","value":"1777496713"},"columns":{"mappingMode":"defineBelow","value":{"Timestamp":"={{ $now.toISO() }}","FileId":"={{ $json.fileId }}","FileName":"={{ $json.fileName }}","DocumentType":"={{ $json.documentType }}","LanguagePair":"={{ $json.detectedLanguage + \" → \" + $json.targetLanguage }}","FileHash":"={{ $json.fileHash }}","CertificateId":"={{ $json.certId }}","ReviewedBy":"={{ $json.reviewerName }}","ReviewDecision":"={{ $json.reviewDecision }}","TranslationDocUrl":"={{ $json.translationDocUrl }}","PiiTokenCount":"={{ $json.piiCount }}","GlossaryTermsAdded":"={{ ($json.newGlossaryTerms||[]).length }}"},"matchingColumns":[],"schema":[]},"options":{}},"id":"logProcessed1","name":"Log to Processed Log","type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[4128,688],"credentials":{"googleSheetsOAuth2Api":{"id":"P9oXDPyUo4EoRzN5","name":"Google Sheets account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $('Merge Doc Result').first().json.fileId }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1qopyhcnBe8_cTi53e4qTEMPfcAyLBzo8"}},"id":"moveArchive1","name":"Move Source to Archive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[4368,688],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"operation":"move","fileId":{"__rl":true,"mode":"id","value":"={{ $json.id }}"},"driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"id","value":"1P8JKaepi7mQIqiGkiJkiVVxjz1ZOV6QV"}},"id":"moveToProcessing1","name":"Move to Processing","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1168,528],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"onError":"continueErrorOutput"},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=New Document Received — {{ $json.name || \"Document\" }}","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#1a56db\">Document Received for Translation</h2>\n<p>A new document has been received and the AI translation pipeline is now processing it.</p>\n<table style=\"border-collapse:collapse;width:100%\"> <tr><td style=\"padding:8px;background:#f3f4f6;font-weight:bold;width:140px\">File Name</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.name || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#f3f4f6;font-weight:bold\">Received At</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $now.toLocaleString() }}</td></tr> <tr><td style=\"padding:8px;background:#f3f4f6;font-weight:bold\">Status</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\"> Processing — OCR, PII tokenization &amp; AI translation in progress</td></tr>\n</table>\n<p style=\"margin-top:16px\">You will receive another email when the translation is ready for your review.</p>\n<hr style=\"margin:24px 0;border:none;border-top:1px solid #e5e7eb\">\n<p style=\"font-size:11px;color:#9ca3af\">Sent automatically by the Legal Translation Translation Pipeline</p>\n</div>","options":{}},"id":"sendIntakeNotification1","name":"Send Intake Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-928,528],"webhookId":"2135ccff-e92e-4fd3-9da3-2b85c3199ed6","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"disabled":true},{"parameters":{"mode":"runOnceForAllItems","jsCode":"return $input.all();"},"id":"checkDuplicate1","name":"Check for Duplicate","type":"n8n-nodes-base.code","typeVersion":2,"position":[-688,304],"alwaysOutputData":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"hashExists","leftValue":"={{ $json.FileHash }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"alreadyProcessed1","name":"Already Processed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-448,304]},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=Duplicate File Skipped — {{ $json.FileName || \"Document\" }}","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#d97706\">Duplicate Document Detected — Skipped</h2>\n<p>A file was uploaded that has already been processed. The pipeline skipped reprocessing to avoid duplicates.</p>\n<table style=\"border-collapse:collapse;width:100%\"> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold;width:160px\">File Name</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.FileName || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold\">Hash Match</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.FileHash || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold\">Originally Processed</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.Timestamp || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold\">Certificate ID</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.CertificateId || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#fef3c7;font-weight:bold\">Existing Translation</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.TranslationDocUrl ? '<a href=\"' + $json.TranslationDocUrl + '\">View in Drive</a>' : \"N/A\" }}</td></tr>\n</table>\n<p style=\"margin-top:16px\">If you intended to reprocess this file, please delete the previous entry from the Processed Log and re-upload the file.</p>\n<hr style=\"margin:24px 0;border:none;border-top:1px solid #e5e7eb\">\n<p style=\"font-size:11px;color:#9ca3af\">Sent automatically by the Legal Translation Translation Pipeline</p>\n</div>","options":{}},"id":"notifyAlreadyProcessed1","name":"Notify Already Processed","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-448,32],"webhookId":"d6e49e71-584f-4b16-a1d2-1f443eedfb30","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}}},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=Translation Ready for Review — {{ ($json.documentType||'document').replace(/_/g,' ').toUpperCase() }} ({{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }})","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#7c3aed\">Translation Ready for Human Review</h2>\n<p>The AI translation pipeline has completed processing and requires your review before the certified document is generated.</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:16px\"> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold;width:180px\">Document Type</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.documentType||'unknown').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">Language Pair</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">File Name</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.fileName || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">Pages</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.finalPages||[]).length }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">PII Tokens</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.piiCount || 0 }} item(s) tokenized &amp; restored</td></tr> <tr><td style=\"padding:8px;background:{{ ($json.flaggedTranslations||[]).length > 0 ? '#fef3c7' : '#f5f3ff' }};font-weight:bold\">Flagged Items</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.flaggedTranslations||[]).length > 0 ? ' ' + ($json.flaggedTranslations||[]).length + ' term(s) require attention' : ' None' }}</td></tr> <tr><td style=\"padding:8px;background:#f5f3ff;font-weight:bold\">Glossary Terms Added</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.newGlossaryTerms||[]).length }} new term(s) extracted</td></tr>\n</table>\n{{ ($json.flaggedTranslations||[]).length > 0 ? '<div style=\\\"background:#fef3c7;border-left:4px solid #d97706;padding:12px;margin-bottom:16px\\\"><strong>Flagged Terms Needing Attention:</strong><ul>' + ($json.flaggedTranslations||[]).map(f => '<li>' + f + '</li>').join('') + '</ul></div>' : '' }}\n<div style=\"text-align:center;margin:24px 0\"> <a href=\"{{ $execution.resumeFormUrl }}\" style=\"background:#7c3aed;color:white;padding:14px 32px;text-decoration:none;border-radius:6px;font-size:16px;font-weight:bold;display:inline-block\"> Open Review Form </a>\n</div>\n<p style=\"font-size:13px;color:#6b7280;text-align:center\">The pipeline is paused and waiting for your decision. The certified translation document will only be generated after approval.</p>\n<p style=\"font-size:12px;color:#9ca3af;text-align:center\">If the button doesn't work, copy this URL: {{ $execution.resumeFormUrl }}</p>\n<hr style=\"margin:24px 0;border:none;border-top:1px solid #e5e7eb\">\n<p style=\"font-size:11px;color:#9ca3af\">Sent automatically by the Legal Translation Translation Pipeline</p>\n</div>","options":{}},"id":"sendReviewNotification1","name":"Send Review Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[2448,304],"webhookId":"4a6cfe04-a5d4-4164-a9ba-be0bf2bc9767","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=Certified Translation Complete — {{ $json.certId || 'Document' }}","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#059669\">Certified Translation Complete</h2>\n<p>The translation has been reviewed, approved, and the certified document has been saved to Google Drive.</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:16px\"> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold;width:180px\">Certificate ID</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.certId || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Document Type</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.documentType||'unknown').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Language Pair</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Reviewed By</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.reviewerName || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Review Decision</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.reviewDecision || \"Approved\" }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Translation Date</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.dateStr || $now.toISO() }}</td></tr> <tr><td style=\"padding:8px;background:#ecfdf5;font-weight:bold\">Glossary Terms</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.newGlossaryTerms||[]).length }} new term(s) added to glossary</td></tr>\n</table>\n<div style=\"text-align:center;margin:24px 0\"> <a href=\"{{ $json.translationDocUrl || '#' }}\" style=\"background:#059669;color:white;padding:14px 32px;text-decoration:none;border-radius:6px;font-size:16px;font-weight:bold;display:inline-block\"> View Certified Translation in Drive </a>\n</div>\n{{ $json.reviewerNotes && $json.reviewerNotes.trim() ? '<div style=\\\"background:#f0fdf4;border-left:4px solid #059669;padding:12px;margin-bottom:16px\\\"><strong>Reviewer Notes:</strong><br>' + $json.reviewerNotes + '</div>' : '' }}\n<p style=\"font-size:13px;color:#6b7280;text-align:center\">The original source file has been moved to the Archive folder. The Processed Log has been updated.</p>\n<hr style=\"margin:24px 0;border:none;border-top:1px solid #e5e7eb\">\n<p style=\"font-size:11px;color:#9ca3af\">Sent automatically by the Legal Translation Translation Pipeline</p>\n</div><div style=\"margin:20px 0;padding:15px;background:#f0f9f0;border-radius:6px;border-left:4px solid #059669\"> <strong> Download PDF:</strong><br> <a href=\"{{ $json.pdfDownloadUrl }}\" style=\"color:#059669;word-break:break-all\">{{ $json.pdfDownloadUrl }}</a>\n</div>","options":{}},"id":"sendCompletionNotification1","name":"Send Completion Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[4608,688],"webhookId":"7bcf49a0-1a42-4ac2-99a0-f9e4d1357652","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"onError":"continueErrorOutput"},{"parameters":{"content":"## AI-Assisted Legal Translation Pipeline\n**7 stages, left to right:** Intake and dedup  →  OCR extraction  →  PII tokenization  →  Glossary-aware translation  →  Detokenization  →  Human review  →  Document assembly and delivery\nThe translation LLM never sees raw PII — names and addresses are replaced with placeholder tokens before any AI call and restored only after translation is complete.","height":110,"width":6600,"color":5},"id":"s_banner","name":"Banner","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,-144]},{"parameters":{"content":"**Stage 1 — Intake and Deduplication**\nDrive trigger fires on new file in Inbox. SHA-256 hash computed for dedup — already-processed files are skipped with a notification. Parallel branch: moves file to Processing folder and emails intake confirmation.","height":75,"width":1110,"color":4},"id":"s_s1","name":"Stage 1 — Intake","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,208]},{"parameters":{"content":"**Stage 2 — OCR and Text Extraction**\nGPT-4o vision extracts text verbatim per page, preserving reading order and flagging stamps, seals, and handwritten annotations. Returns structured JSON.","height":75,"width":400,"color":4},"id":"s_s2","name":"Stage 2 — OCR","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-256,208]},{"parameters":{"content":"**Stage 3 — PII Tokenization  (Privacy Layer)**\nGPT-4o detects names, addresses, phones, emails, and IDs. Each value is replaced with a stable token (e.g. PERSON_1). Token map lives only in execution memory — never logged. The translation LLM sees tokens only.","height":75,"width":620,"color":2},"id":"s_s3","name":"Stage 3 — PII","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[240,208]},{"parameters":{"content":"**Stage 4 — Glossary-Aware Translation and Detokenization**\nSource language auto-detected. Established term pairs loaded from Glossary sheet, injected as required translations. GPT-4o translates in formal legal register — no summarization, tokens preserved verbatim, uncertain terms flagged. New terms appended to glossary. PII restored from token map; map then discarded.","height":75,"width":1360,"color":4},"id":"s_s4","name":"Stage 4 — Translation","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[960,208]},{"parameters":{"content":"**Stage 5 — Human Review**\nReviewer receives an email with a form link. Pipeline pauses (Wait node) until the form is submitted: Approve, Approve with Edits (reviewer pastes corrected text), or Reject. Approved proceeds to assembly; rejected goes to the Needs-Review branch.","height":75,"width":880,"color":4},"id":"s_s5","name":"Stage 5 — Review","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2400,208]},{"parameters":{"content":"**Stage 6 — Document Assembly and Delivery:** Certified translation built with cert ID, header, full translated content, and reviewer notes. Uploaded to Drive Approved folder. Logged to Processed Log. Source file archived. Completion email sent.","height":65,"width":1360,"color":4},"id":"s_s6","name":"Stage 6 — Assembly","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,608]},{"parameters":{"content":"**Glossary Compounding:** New legal terms identified during translation are appended to the Glossary sheet. Translation consistency compounds across every document.","height":65,"width":480,"color":4},"id":"s_gloss","name":"Glossary","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,896]},{"parameters":{"content":"**Rejection Branch:** Rejection logged to Review Queue sheet. Team notified by email. Source file moved to Needs-Review folder for manual correction and re-upload to Inbox.","height":65,"width":700,"color":2},"id":"s_reject","name":"Rejection","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3360,1152]},{"parameters":{"content":"**Error Handling:** All fallible nodes route failures here. Error logged to Error Log sheet. Admin emailed with full details. Source file moved to Errors folder. Nothing fails silently.","height":65,"width":700,"color":2},"id":"s_err","name":"Errors","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4080,1408]},{"parameters":{"sendTo":"={{ $json['Filing Attorney Email'] || 'orelbutbul13@gmail.com' }}","subject":"=Certified Translation Ready — {{ ($('Restore Pipeline').first().json.documentType||'document').replace(/_/g,' ') }} ({{ $('Restore Pipeline').first().json.certId || 'Case Document' }})","message":"=<div style=\"font-family:Arial,sans-serif;max-width:600px;color:#111\">\n<div style=\"background:#f0f4ff;border-left:5px solid #1a3a6e;padding:16px 20px;margin-bottom:20px;border-radius:0 8px 8px 0\"> <h2 style=\"margin:0 0 4px;color:#1a3a6e;font-size:16pt\">Certified Translation Ready for Filing</h2> <p style=\"margin:0;font-size:10pt;color:#555\">This translation has been reviewed and approved by a qualified human reviewer.</p>\n</div>\n<p>Dear Counsel,</p>\n<p>The certified translation below has been reviewed and approved. It is ready for submission to the relevant authority.</p>\n<table style=\"border-collapse:collapse;width:100%;margin:16px 0\"> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold;width:40%\">Certificate ID</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb;font-family:monospace\">{{ $('Restore Pipeline').first().json.certId || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Document Type</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ ($('Restore Pipeline').first().json.documentType || 'document').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Language</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ ($('Restore Pipeline').first().json.detectedLanguage||'?').toUpperCase() }} {{ ($('Restore Pipeline').first().json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Reviewer</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ $('Restore Pipeline').first().json.reviewerName || \"N/A\" }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Review Decision</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ $('Restore Pipeline').first().json.reviewDecision || \"Approved\" }}</td></tr> <tr><td style=\"padding:8px 12px;background:#f0f4ff;font-weight:bold\">Translation Date</td><td style=\"padding:8px 12px;border-bottom:1px solid #e5e7eb\">{{ $('Restore Pipeline').first().json.dateStr || $now.format('MMMM D, YYYY') }}</td></tr>\n</table>\n<div style=\"text-align:center;margin:24px 0\"> <a href=\"{{ $('Restore Pipeline').first().json.translationDocUrl }}\" style=\"background:#1a3a6e;color:#fff;padding:13px 28px;border-radius:6px;text-decoration:none;font-weight:bold;font-size:12pt;display:inline-block\">View Certified Translation </a>\n</div>\n<div style=\"margin:16px 0;padding:14px;background:#f8fafc;border:1px solid #ddd;border-radius:4px\"> <strong> Download PDF:</strong><br> <a href=\"{{ $('Restore Pipeline').first().json.pdfDownloadUrl }}\" style=\"color:#1a3a6e;word-break:break-all\">{{ $('Restore Pipeline').first().json.pdfDownloadUrl }}</a>\n</div>\n<p style=\"font-size:9pt;color:#888;border-top:1px solid #eee;padding-top:12px;margin-top:20px\"> Automated dispatch from the Legal Translation certified translation pipeline. Do not reply to this email.\n</p>\n</div>","options":{}},"id":"send_filing_attorney","name":"Send to Filing Attorney","type":"n8n-nodes-base.gmail","typeVersion":2,"position":[4848,688],"webhookId":"adf2b98f-d079-4ca4-88c8-4cac620dd0ae","credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"onError":"continueErrorOutput","disabled":true},{"id":"checkRetryCount1","name":"Check Retry Count","type":"n8n-nodes-base.code","typeVersion":2,"position":[4200,1248],"parameters":{"jsCode":"// Reclaim tokenizedPages/tokenMap dropped by Detokenize PII; bump retry counter\nconst current = $json;\nlet tokenizedPages = current.tokenizedPages;\nlet tokenMap = current.tokenMap;\nlet glossaryTerms = current.glossaryTerms || [];\n\ntry {\n  const tokenized = $('Tokenize PII').first().json;\n  if (!tokenizedPages || !tokenizedPages.length) tokenizedPages = tokenized.tokenizedPages || [];\n  if (!tokenMap || !Object.keys(tokenMap).length) tokenMap = tokenized.tokenMap || {};\n} catch(e) {}\n\ntry {\n  const bti = $('Build Translation Input').first().json;\n  if (!glossaryTerms.length) glossaryTerms = bti.glossaryTerms || [];\n} catch(e) {}\n\nreturn [{\n  json: {\n    ...current,\n    retryCount: (current.retryCount || 0) + 1,\n    tokenizedPages,\n    tokenMap,\n    glossaryTerms,\n  }\n}];"}},{"id":"maxRetries1","name":"Max Retries?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4440,1248],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"retry-limit-check","leftValue":"={{ $json.retryCount }}","rightValue":1,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}}},{"id":"retranslate1","name":"Retranslate with Reviewer Notes","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[4680,1248],"credentials":{"openAiApi":{"id":"AdvPEzWxtkEQoaFl","name":"OpenAi account"}},"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5","cachedResultName":"GPT-5"},"responses":{"values":[{"role":"system","content":"You are a certified legal translator working in a privacy-preserving document translation pipeline. You translate complete legal documents between ANY two languages - you will be told the exact source and target language codes for this job, never assume a fixed language pair.\n\nRules:\n1. Produce a COMPLETE, formal legal-register translation. Never summarize, shorten, or omit content. Preserve the structure (numbered clauses, headings, line breaks) of the source.\n2. The source text contains bracketed placeholder tokens such as [PERSON_1], [CASE_NUMBER_1], [ADDRESS_2]. These represent information that was deliberately removed before reaching you for privacy. Copy every token through to your translation completely unchanged, character-for-character, in the exact position it grammatically belongs in the translated sentence. Never translate, reorder the digits of, or alter a token.\n3. If a glossary of required term translations is provided, you MUST use those exact target-language terms whenever the matching source term appears, for consistency across documents.\n4. Track any new legal/institutional/document-specific term you had to translate without glossary guidance (e.g. a court name, a legal procedure name, a document title) and return it so it can be added to the glossary for future jobs. Do not include ordinary common words.\n5. If you had to guess a translation because the source was ambiguous or partially illegible, say so explicitly rather than silently picking one option.\n6. A human reviewer has reviewed the previous translation and provided specific correction notes. You MUST address every point raised in the REVIEWER CORRECTION NOTES below before all else.\n\nOutput must strictly follow this JSON shape and contain nothing else:\n{\n  \"translatedPages\": [ { \"pageNumber\": <integer>, \"translatedText\": \"<full translation of this page>\" } ],\n  \"newGlossaryTerms\": [ { \"sourceTerm\": \"<term in source language>\", \"targetTerm\": \"<term in target language>\", \"context\": \"<short note on where/how it's used>\" } ],\n  \"flaggedTranslations\": [ \"<short description of any guessed/ambiguous translation>\" ]\n}"},{"content":"={{ 'Source language: ' + $json.detectedLanguage + '\\nTarget language: ' + $json.targetLanguage + '\\n\\nGlossary (required term translations):\\n' + ($json.glossaryTerms && $json.glossaryTerms.length ? $json.glossaryTerms.map(g => g.source + ' => ' + g.target).join('\\n') : '(none yet)') + '\\n\\nREVIEWER CORRECTION NOTES (address every point in your retranslation):\\n' + ($json.reviewerNotes || 'No specific notes provided. Improve overall accuracy and legal register.') + '\\n\\nDocument text by page:\\n\\n' + ($json.tokenizedPages || []).map(p => '=== PAGE ' + p.pageNumber + ' ===\\n' + p.text).join('\\n\\n') }}"}]},"builtInTools":{},"options":{"textFormat":{"textOptions":{}}}}},{"id":"parseRetranslation1","name":"Parse Retranslation","type":"n8n-nodes-base.code","typeVersion":2,"position":[4920,1248],"parameters":{"jsCode":"let parsed;\ntry {\n  const raw = $input.first().json.output[0].content[0].text;\n  parsed = JSON.parse(raw);\n} catch (e) {\n  parsed = { translatedPages: [], newGlossaryTerms: [], flaggedTranslations: ['Retranslation did not return valid JSON. Manual escalation required.'] };\n}\nconst meta = $('Check Retry Count').first().json;\nreturn [{ json: { ...meta, ...parsed } }];"}},{"id":"detokenizeRetry1","name":"Detokenize Retry","type":"n8n-nodes-base.code","typeVersion":2,"position":[5160,1248],"parameters":{"jsCode":"const data = $json;\nconst tokenMap = data.tokenMap || {};\n\nconst finalPages = (data.translatedPages || data.tokenizedPages || []).map(page => {\n  let text = page.translatedText || page.text;\n  for (const [token, value] of Object.entries(tokenMap)) {\n    text = text.split(token).join(value);\n  }\n  return { pageNumber: page.pageNumber, text, flaggedElements: page.flaggedElements || [] };\n});\n\nconst { tokenMap: _drop, tokenizedPages: _drop2, translatedPages: _drop3, ...rest } = data;\nreturn [{ json: { ...rest, finalPages } }];"}},{"id":"sendRetryReview1","name":"Send Retry Review Notification","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[5400,1248],"credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=Retranslation Ready — Retry #{{ $json.retryCount }} — {{ ($json.documentType||'document').replace(/_/g,' ').toUpperCase() }} ({{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }})","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#dc2626\"> Retranslation Ready for Second Review</h2>\n<p>The document was rejected in the first review and has been retranslated with your correction notes applied. This is the final automated retry — if rejected again, it will be escalated to manual handling.</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:16px\"> <tr><td style=\"padding:8px;background:#fef2f2;font-weight:bold;width:180px\">Retry #</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.retryCount }} of 1 allowed</td></tr> <tr><td style=\"padding:8px;background:#fef2f2;font-weight:bold\">Document Type</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.documentType||'unknown').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px;background:#fef2f2;font-weight:bold\">Language Pair</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px;background:#fef2f2;font-weight:bold\">Your Prior Notes</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.reviewerNotes || '(none provided)' }}</td></tr> <tr><td style=\"padding:8px;background:{{ ($json.flaggedTranslations||[]).length > 0 ? '#fef3c7' : '#fef2f2' }};font-weight:bold\">Translator Flags</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.flaggedTranslations||[]).length > 0 ? ' ' + ($json.flaggedTranslations||[]).length + ' item(s) still flagged' : ' No new flags' }}</td></tr>\n</table>\n<div style=\"background:#fef3c7;border-left:4px solid #d97706;padding:12px;margin-bottom:16px\"><strong> Final Retry:</strong> Rejecting again will escalate this document to manual translation.</div>\n<div style=\"text-align:center;margin:24px 0\"> <a href=\"{{ $execution.resumeFormUrl }}\" style=\"background:#dc2626;color:white;padding:14px 32px;text-decoration:none;border-radius:6px;font-size:16px;font-weight:bold;display:inline-block\"> Open Retry Review Form </a>\n</div>\n<p style=\"font-size:13px;color:#6b7280;text-align:center\">The pipeline is paused awaiting your decision.</p>\n</div>"}},{"id":"humanReviewRetry1","name":"Human Review (Retry)","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[5640,1248],"parameters":{"resume":"form","formTitle":"={{ \"Retranslation Review (Retry #\" + ($json.retryCount || 1) + \"): \" + ($('Detokenize PII').first().json.documentType || \"document\").replace(/_/g,\" \") + \" (\" + ($('Detokenize PII').first().json.detectedLanguage || \"?\") + \" → \" + ($('Detokenize PII').first().json.targetLanguage || \"?\") + \")\" }}","formDescription":"This retranslation incorporates your previous correction notes. If you reject again, the document will be escalated to manual translation — no further automated retries.","formFields":{"values":[{"fieldType":"html","html":"={{ (() => { const ocrPages = $(\"Parse OCR Output\").first().json.pages || []; const finalPages = $(\"Detokenize Retry\").first().json.finalPages || $json.finalPages || []; const flagged = pipe.flaggedTranslations || []; const priorNotes = $(\"Check Retry Count\").first().json.reviewerNotes || ''; let html = \"<div style='font-family:sans-serif'>\"; if (priorNotes) { html += \"<div style='background:#fef3c7;border-left:4px solid #d97706;padding:12px;margin-bottom:16px'><strong>Your previous correction notes (applied to this retranslation):</strong><br/>\" + priorNotes + \"</div>\"; } ocrPages.forEach((p, i) => { const tp = finalPages[i] || {}; html += \"<details open><summary><strong>Page \" + p.pageNumber + \"</strong></summary><table width='100%' cellpadding='8' border='1' style='border-collapse:collapse'><tr><th>Original (\" + (pipe.detectedLanguage||\"?\") + \")</th><th>Retranslation (\" + (pipe.targetLanguage||\"?\") + \")</th></tr><tr><td style='vertical-align:top;white-space:pre-wrap;font-size:12px'>\" + (p.text||\"\").substring(0,3000) + \"</td><td style='vertical-align:top;white-space:pre-wrap;font-size:12px'>\" + (tp.text||\"\").substring(0,3000) + \"</td></tr></table></details><br/>\"; }); if (flagged.length) { html += \"<h4 style='color:#c00'>⚠ Still flagged by translator</h4><ul>\" + flagged.map(f => \"<li>\" + f + \"</li>\").join(\"\") + \"</ul>\"; } html += \"</div>\"; return html; })() }}<input type=\"hidden\" name=\"__pipeline\" value=\"{{ JSON.stringify($json) }}\">"},{"fieldLabel":"Review Decision","fieldType":"dropdown","fieldOptions":{"values":[{"option":"Approve"},{"option":"Approve with Edits"},{"option":"Reject - Needs Retranslation"}]},"requiredField":true},{"fieldLabel":"Corrected Translation (if Approve with Edits — paste full corrected text)","fieldType":"textarea","placeholder":"Paste the complete corrected translation here. Leave blank if approving as-is."},{"fieldLabel":"Reviewer Notes","fieldType":"textarea","placeholder":"Notes on this retranslation. If rejecting, provide details — this will trigger manual escalation."},{"fieldLabel":"Reviewer Name","placeholder":"Your name (for the audit log)","requiredField":true},{"fieldLabel":"Filing Attorney Email","placeholder":"attorney@lawfirm.com"}]},"options":{}}},{"id":"applyRetryDecision1","name":"Apply Retry Decision","type":"n8n-nodes-base.code","typeVersion":2,"position":[5880,1248],"parameters":{"jsCode":"const form = $json;\nlet pipeline = {};\ntry { pipeline = JSON.parse(($json.__pipeline || '{}')); } catch(e) {}\nif (!pipeline.fileName) { try { pipeline = $('Detokenize Retry').first().json; } catch(e2) {} };\n\nconst decision = form['Review Decision'] || 'Approve';\nconst corrected = form['Corrected Translation (if Approve with Edits — paste full corrected text)'] || '';\nconst reviewerNotes = form['Reviewer Notes'] || '';\nconst reviewerName = form['Reviewer Name'] || 'unknown';\nconst reviewedAt = new Date().toISOString();\n\nlet finalPages = pipeline.finalPages || [];\nif (decision === 'Approve with Edits' && corrected.trim()) {\n  finalPages = finalPages.map((page, i) => ({\n    ...page,\n    text: i === 0 ? corrected.trim() : page.text,\n    reviewerCorrected: true,\n  }));\n}\n\nconst attEmail = form['Filing Attorney Email'] || pipeline.filingAttorneyEmail || '';\n\nreturn [{\n  json: {\n    ...pipeline,\n    finalPages,\n    reviewDecision: decision,\n    reviewerName,\n    reviewerNotes,\n    reviewedAt,\n    retryReview: true,\n    filingAttorneyEmail: attEmail,\n  }\n}];"}},{"id":"retryApproved1","name":"Retry Approved?","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[6120,1248],"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"retry-approve-check","leftValue":"={{ $json.reviewDecision }}","rightValue":"Reject - Needs Retranslation","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}}},{"id":"escalateManual1","name":"Escalate - Manual Required","type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[6360,1248],"credentials":{"gmailOAuth2":{"id":"oTrdHZyx6et0vEMB","name":"Gmail account"}},"parameters":{"sendTo":"orelbutbul13@gmail.com","subject":"=ESCALATION: Manual Translation Required — {{ ($json.documentType||'document').replace(/_/g,' ').toUpperCase() }}","message":"=<div style=\"font-family:sans-serif;max-width:600px\">\n<h2 style=\"color:#991b1b\"> Document Escalated — Manual Translation Required</h2>\n<p>This document has exhausted all automated retry attempts and requires manual certified translation.</p>\n<table style=\"border-collapse:collapse;width:100%;margin-bottom:16px\"> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold;width:180px\">File</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.fileName || 'Unknown' }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Document Type</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.documentType||'unknown').replace(/_/g,' ') }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Language Pair</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ ($json.detectedLanguage||'?').toUpperCase() }} {{ ($json.targetLanguage||'?').toUpperCase() }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Retries Used</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.retryCount || 1 }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Reviewer Notes</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">{{ $json.reviewerNotes || '(none)' }}</td></tr> <tr><td style=\"padding:8px;background:#fee2e2;font-weight:bold\">Location</td><td style=\"padding:8px;border-bottom:1px solid #e5e7eb\">Needs-Review folder in Google Drive</td></tr>\n</table>\n<p><strong>Action Required:</strong> Retrieve the document from the Needs-Review Google Drive folder and arrange manual certified translation. Log completion in the Review Queue sheet.</p>\n</div>"}},{"id":"mark-delivered","name":"Mark as Delivered","type":"n8n-nodes-base.code","typeVersion":2,"position":[5088,688],"parameters":{"jsCode":"// Mark pipeline as delivered — pipeline data comes from Send to Filing Attorney → $json is Gmail response\n// Restore pipeline from Merge Doc Result\nconst pipeline = $('Merge Doc Result').first().json;\nreturn [{ json: { ...pipeline, deliveryStatus: 'DELIVERED', markedAt: new Date().toISOString() } }];","mode":"runOnceForAllItems"}},{"id":"restorePipeline1","name":"Restore Pipeline","type":"n8n-nodes-base.code","typeVersion":2,"position":[4490,688],"parameters":{"jsCode":"// Move Source to Archive outputs Drive metadata, not pipeline data.\n// Restore full pipeline from Merge Doc Result for downstream email nodes.\nconst pipeline = $('Merge Doc Result').first().json;\nreturn [{ json: pipeline }];","mode":"runOnceForAllItems"}},{"id":"convertGoogleDoc1","name":"Initiate Doc Upload","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3860,688],"credentials":{"googleDriveOAuth2Api":{"id":"ZpGb8mJQX0YOngkH","name":"Google Drive account"}},"parameters":{"method":"POST","url":"https://www.googleapis.com/upload/drive/v3/files?uploadType=resumable","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"X-Upload-Content-Type","value":"text/html"}]},"sendBody":true,"contentType":"raw","rawBody":"={{ JSON.stringify({ name: $('Assemble Certificate').first().json.docTitle, mimeType: 'application/vnd.google-apps.document', parents: ['1iF-lZof5_55JhgBuQX13ue-izqPFKVB3'] }) }}","options":{"response":{"response":{"responseFormat":"json","fullResponse":true}}}}},{"id":"uploadDocContent1","name":"Upload Doc Content","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3960,688],"parameters":{"method":"PUT","url":"={{ $json.headers?.location || $json.headers?.Location }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"text/html"}]},"sendBody":true,"contentType":"raw","rawBody":"={{ $('Assemble Certificate').first().json.htmlContent }}","options":{"response":{"response":{"responseFormat":"json"}}}}}],"connections":{"New File in Inbox":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Compute Hash & Metadata","type":"main","index":0},{"node":"Move to Processing","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Log Error":{"main":[[{"node":"Notify Admin - Error","type":"main","index":0}]]},"Notify Admin - Error":{"main":[[{"node":"Move to Errors Folder","type":"main","index":0}]]},"Compute Hash & Metadata":{"main":[[{"node":"Check for Duplicate","type":"main","index":0}]]},"Extract Document Text (OCR)":{"main":[[{"node":"Parse OCR Output","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Parse OCR Output":{"main":[[{"node":"Detect PII","type":"main","index":0}]]},"Detect PII":{"main":[[{"node":"Parse PII Output","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Parse PII Output":{"main":[[{"node":"Tokenize PII","type":"main","index":0}]]},"Tokenize PII":{"main":[[{"node":"Determine Target Language","type":"main","index":0}]]},"Determine Target Language":{"main":[[{"node":"Glossary Lookup","type":"main","index":0}]]},"Glossary Lookup":{"main":[[{"node":"Build Translation Input","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Build Translation Input":{"main":[[{"node":"Translate Document","type":"main","index":0}]]},"Translate Document":{"main":[[{"node":"Parse Translation Output","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Parse Translation Output":{"main":[[{"node":"Detokenize PII","type":"main","index":0}]]},"Prepare Glossary Updates":{"main":[[{"node":"Append New Glossary Terms","type":"main","index":0}]]},"Append New Glossary Terms":{"main":[[],[{"node":"Log Error","type":"main","index":0}]]},"Detokenize PII":{"main":[[{"node":"Send Review Notification","type":"main","index":0}]]},"Human Review":{"main":[[{"node":"Apply Review Decision","type":"main","index":0}]]},"Apply Review Decision":{"main":[[{"node":"Approved?","type":"main","index":0}]]},"Approved?":{"main":[[{"node":"Prepare Glossary Updates","type":"main","index":0},{"node":"Assemble Certificate","type":"main","index":0}],[{"node":"Log to Review Queue","type":"main","index":0}]]},"Log to Review Queue":{"main":[[{"node":"Notify - Review Needed","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Notify - Review Needed":{"main":[[{"node":"Move to Needs-Review Folder","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Move to Needs-Review Folder":{"main":[[{"node":"Check Retry Count","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Assemble Certificate":{"main":[[{"node":"Upload Translation Doc","type":"main","index":0}]]},"Upload Translation Doc":{"main":[[{"node":"Merge Doc Result","type":"main","index":0}]]},"Merge Doc Result":{"main":[[{"node":"Log to Processed Log","type":"main","index":0}]]},"Log to Processed Log":{"main":[[{"node":"Move Source to Archive","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Move Source to Archive":{"main":[[{"node":"Restore Pipeline","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Move to Processing":{"main":[[{"node":"Send Intake Notification","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Check for Duplicate":{"main":[[{"node":"Already Processed?","type":"main","index":0}]]},"Already Processed?":{"main":[[{"node":"Notify Already Processed","type":"main","index":0}],[{"node":"Extract Document Text (OCR)","type":"main","index":0}]]},"Send Review Notification":{"main":[[{"node":"Human Review","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Send Completion Notification":{"main":[[{"node":"Send to Filing Attorney","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Check Retry Count":{"main":[[{"node":"Max Retries?","type":"main","index":0}]]},"Max Retries?":{"main":[[{"node":"Retranslate with Reviewer Notes","type":"main","index":0}],[{"node":"Escalate - Manual Required","type":"main","index":0}]]},"Retranslate with Reviewer Notes":{"main":[[{"node":"Parse Retranslation","type":"main","index":0}]]},"Parse Retranslation":{"main":[[{"node":"Detokenize Retry","type":"main","index":0}]]},"Detokenize Retry":{"main":[[{"node":"Send Retry Review Notification","type":"main","index":0}]]},"Send Retry Review Notification":{"main":[[{"node":"Human Review (Retry)","type":"main","index":0}]]},"Human Review (Retry)":{"main":[[{"node":"Apply Retry Decision","type":"main","index":0}]]},"Apply Retry Decision":{"main":[[{"node":"Retry Approved?","type":"main","index":0}]]},"Retry Approved?":{"main":[[{"node":"Prepare Glossary Updates","type":"main","index":0},{"node":"Assemble Certificate","type":"main","index":0}],[{"node":"Escalate - Manual Required","type":"main","index":0}]]},"Send to Filing Attorney":{"main":[[{"node":"Mark as Delivered","type":"main","index":0}],[{"node":"Log Error","type":"main","index":0}]]},"Restore Pipeline":{"main":[[{"node":"Send Completion Notification","type":"main","index":0}]]}},"authors":"Orel Butbul","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-06-29T03:21:50.887Z","id":187,"workflowId":"2yY5pCIu3mpj5ho9","versionId":"220d907e-6874-4bcc-8f8a-504599072c1d","event":"activated","userId":"9923464d-53c4-46b9-bc43-e6f874fb94ac"},{"createdAt":"2026-06-29T03:22:10.657Z","id":189,"workflowId":"2yY5pCIu3mpj5ho9","versionId":"220d907e-6874-4bcc-8f8a-504599072c1d","event":"activated","userId":"9923464d-53c4-46b9-bc43-e6f874fb94ac"},{"createdAt":"2026-06-29T03:21:50.600Z","id":186,"workflowId":"2yY5pCIu3mpj5ho9","versionId":"220d907e-6874-4bcc-8f8a-504599072c1d","event":"deactivated","userId":"9923464d-53c4-46b9-bc43-e6f874fb94ac"},{"createdAt":"2026-06-29T03:22:10.375Z","id":188,"workflowId":"2yY5pCIu3mpj5ho9","versionId":"220d907e-6874-4bcc-8f8a-504599072c1d","event":"deactivated","userId":"9923464d-53c4-46b9-bc43-e6f874fb94ac"}]}}